@mixin thinGrayBorder {
  border: 1px solid var(--color-neutral-600);
}

.rewardsContainer {
  padding: var(--space-md);
  @include thinGrayBorder;
  border-radius: var(--space-sm);
  position: relative;
  margin-top: var(--space-md);
  width: 100%;
  background-color: var(--color-neutral-800);
}

$rewardTitleSideMargin: var(--space-2lg);
.rewardTitle {
  border-radius: var(--space-xs);
  text-align: left;
  display: flex;
  align-items: center;
  color: var(--color-neutral-100);
  font-weight: var(--bold);
}

.titleBar {
  display: flex;
  color: var(--color-neutral-400);
  justify-content: space-between;
}

.separator {
  height: 1px;
  background-color: var(--color-neutral-600);
  margin: var(--space-md-fixed) calc(-1 * var(--space-md-fixed));
}

.numClaimed {
  color: var(--color-neutral-100);
}

.numTotal {
  color: var(--color-neutral-400);
}

.claimedContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-3xs);
}
