.sticker {
  padding: var(--space-3xs) var(--space-xs);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2xs);
  border-radius: var(--corner-round, 100px);
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  font-size: var(--text-md);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0.3;
    z-index: -1;
  }

  // Style variants
  &.neutral {
    color: var(--color-neutral-400);
    border-color: var(--color-neutral-600);
    &::before {
      background-color: var(--color-neutral-600);
    }
  }

  &.secondary {
    color: var(--color-primary-300);
    border-color: var(--color-primary-600);
    &::before {
      background-color: var(--color-primary-600);
    }
  }

  &.tertiary {
    color: var(--color-tertiary-500);
    border-color: var(--color-tertiary-700);
    &::before {
      background-color: var(--color-tertiary-700);
    }
  }

  &.success {
    color: var(--color-success-600);
    border-color: var(--color-success-800);
    &::before {
      background-color: var(--color-success-800);
    }
  }

  &.warning {
    color: var(--color-alert-300);
    border-color: var(--color-alert-400);
    &::before {
      background-color: var(--color-alert-500);
    }
  }

  &.error {
    color: var(--color-error-400);
    border-color: var(--color-error-900);
    &::before {
      background-color: var(--color-error-900);
    }
  }

  // Icon styles
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: var(--space-md);
      height: var(--space-md);
      stroke: currentColor;
      fill: none;

      * {
        stroke: currentColor;
        fill: none;
      }

      &[data-icon='info'] {
        fill: currentColor;
        * {
          fill: currentColor;
          stroke: none;
        }
      }
    }
  }

  // Dot styles
  .dot {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: var(--space-md);
      height: var(--space-md);
      stroke: none;
      fill: none;
    }

    &[data-status='success'] circle {
      fill: var(--color-success-400);
    }

    &[data-status='error'] circle {
      fill: var(--color-error-300);
    }

    &[data-status='warning'] circle {
      fill: var(--color-alert-300);
    }

    &[data-status='neutral'] circle {
      fill: var(--color-neutral-400);
    }

    &[data-status='tertiary'] circle {
      fill: var(--color-tertiary-400);
    }
  }

  // Variants
  &.filled {
    border: none;
    border-radius: var(--corner-round, 4px);
    font-weight: var(--bold);

    &.neutral {
      background-color: var(--color-neutral-400);
      color: var(--color-neutral-700);
    }

    &.secondary {
      background-color: var(--color-primary-200);
      color: var(--color-primary-800);
    }

    &.tertiary {
      background-color: var(--color-tertiary-400);
      color: var(--color-tertiary-800);
    }

    &.success {
      background-color: var(--color-success-300);
      color: var(--color-success-900);
    }

    &.warning {
      background-color: var(--color-alert-400);
      color: var(--color-alert-900);
    }

    &.error {
      background-color: var(--color-error-400);
      color: var(--color-error-900);
    }
  }

  &.filledStrong {
    border: none;
    border-radius: var(--corner-round, 4px);
    font-weight: var(--bold);

    &.neutral {
      background-color: var(--color-neutral-600);
      color: var(--color-neutral-300);
    }

    &.secondary {
      background-color: var(--color-primary-600);
      color: var(--color-primary-100);
    }

    &.tertiary {
      background-color: var(--color-tertiary-800);
      color: var(--color-tertiary-100);
    }

    &.success {
      background-color: var(--color-success-900);
      color: var(--color-success-100);
    }

    &.warning {
      background-color: var(--color-alert-900);
      color: var(--color-alert-400);
    }

    &.error {
      background-color: var(--color-error-700);
      color: var(--color-error-100);
    }
  }

  // Dimensions
  &.sizeSmall {
    padding: var(--space-2xs) var(--space-xs);
    font-size: var(--text-xs);

    .icon svg,
    .dot svg {
      width: var(--space-lg);
      height: var(--space-lg);
    }
  }

  &.sizeDefault {
    padding: var(--space-3xs) var(--space-xs);
    font-size: var(--text-md);

    .icon svg,
    .dot svg {
      width: var(--space-md);
      height: var(--space-md);
    }
  }
}
