@use '../../styles/designSystem/spacing';
@use '../../styles/designSystem/colors';
@use '../../styles/designSystem/typography';
@use '../../styles/utilities/_variables';

.root {
  max-width: 600px;
}

.icon {
  fill: var(--icon-neutral);
}

.disabledLabel {
  color: var(--text-weak);
}

.providersContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-md);
  grid-auto-rows: 1fr;

  @include variables.for-tablet-portrait-up {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.disabledOption {
  opacity: 0.5;
}
