.column {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 100%;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);

  div {
    color: var(--color-neutral-400);
    font-size: var(--text-sm);
  }

  :first-child {
    color: var(--color-success-400);
  }
}

.noRadius {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.noWrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.progressRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
