.inputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
  justify-content: stretch;

  > * {
    flex-grow: 1;
  }
}

.removeButton {
  flex: 0;
  align-self: flex-end;
}

.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
