.darkContainer {
  padding: var(--space-2lg) var(--space-xs) var(--space-2lg) var(--space-2lg);
  max-width: 700px;
  height: 100%;
  margin: var(--space-xl) var(--space-xs);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2lg);
  align-items: flex-start;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: var(--space-2lg);
}

.claimButton {
  align-self: flex-end;
  margin-right: 0px;
}

.description {
  white-space: pre-wrap;
  text-wrap: wrap;
  line-height: var(--space-xl);
}

.alertTriangle {
  stroke: var(--color-alert-400);
}

.alertTextContainer {
  display: flex;
  flex-direction: row;
  color: var(--color-alert-200);
  gap: var(--space-sm);
  align-items: center;
}

.title {
  line-height: var(--text-2xl);
}

.loader {
  height: 100%;
}

.ctaContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm-fixed);
  margin: 0 0 0 auto;
  padding-top: var(--space-sm-fixed);
  width: 100%;
  padding-right: var(--space-2lg);
  justify-content: flex-end;
}

.rootContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
