.darkContainer {
  padding: var(--space-2lg);
  max-width: 700px;
  height: 100%;
  margin: var(--space-xl) var(--space-xs);
}

.badges {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--space-xs);
  margin-top: var(--space-xs);
}

.claimButton {
  align-self: flex-end;
  margin-right: 0px;
}

.description {
  white-space: pre-wrap;
  text-wrap: wrap;
  line-height: var(--space-xl);
}

.alertTriangle {
  stroke: var(--color-alert-400);
  min-width: 16px;
}

.alertTextContainer {
  display: flex;
  flex-direction: row;
  color: var(--color-alert-200);
  gap: var(--space-2xs);
  align-items: center;
}

.title {
  line-height: var(--text-2xl);
}

.loader {
  height: 100%;
}

.ctaContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm-fixed);
  margin: 0 0 0 auto;
  width: 100%;
  justify-content: flex-end;
}

.rootContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-2xl);
}
