.cardPlaceholder {
  width: 175px;
  height: 268px;
  color: var(--color-neutral-600);
  text-align: end;
  padding: var(--space-md);
  border-radius: var(--space-xs-fixed);
  border: 2px dashed var(--color-neutral-600);
}
