.root {
  max-width: 600px;
  gap: var(--space-2lg);
}

.footer {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-md);
  width: fit-content;
}

.iconContainer {
  background: var(--fill-error-weak);
  border-radius: 50%;
}

.icon {
  path {
    color: var(--icon-error);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2lg);
}
