.root {
  max-width: 600px;
  gap: var(--space-2lg);
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: var(--space-md);
  width: fit-content;
  margin: auto;
}

.iconContainer {
  background: var(--color-error-400);
  border-radius: 50%;
}

.icon {
  stroke: var(--color-neutral-800);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2lg);
}
