.addButton {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
  border-radius: 99px;
  padding: var(--space-xs) !important;
  background-color: #ffffff20 !important;

  &:disabled {
    background-color: #ffffff20 !important;
    cursor: not-allowed;
    opacity: 50%;

    svg {
      fill: var(--color-neutral-300);
    }
  }
}

.cardBody {
  margin-top: var(--space-md);
}

.title {
  margin-bottom: var(--space-xs);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-neutral-100);
}

.newAchievement {
  position: absolute;
  bottom: var(--space-md);
  background-color: var(--color-primary-200);
  padding: var(--space-3xs) var(--space-xs);
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  white-space: nowrap;
}

.achievements {
  display: flex;
  align-items: center;

  .column {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    width: 100%;
  }

  .textContainer {
    display: flex;
    align-items: center;
    gap: var(--space-3xs);

    div {
      color: var(--color-neutral-400);
      font-size: var(--text-sm);
    }

    :first-child {
      color: var(--color-success-400);
    }
  }

  .icon {
    margin-left: var(--space-md);
  }
}
