.heading1,
h1 {
  font-family: 'Rajdhani';

  font-weight: 600;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -1px;
}

.heading2,
h2 {
  font-family: 'Rajdhani';

  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -1px;
}

.heading3,
h3 {
  font-family: 'Rajdhani';

  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1px;
}

.heading4,
h4 {
  font-family: 'Rajdhani';

  font-weight: 500;
  font-size: 2rem;
  line-height: 5.625rem;
  letter-spacing: -0.5px;
}

.heading5,
h5 {
  font-family: 'Rajdhani';

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.825rem;
}

.heading6,
h6 {
  font-family: 'Rajdhani';

  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.menu {
  font-family: 'Rajdhani';

  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.title {
  font-family: 'Rajdhani';

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.caption {
  font-family: 'Barlow';

  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.125rem;
}

.captionSmall {
  font-family: 'Barlow';

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.25px;
}

.eyebrow {
  font-family: 'Barlow';

  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.body {
  font-family: 'Barlow';

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}

.bodySmall {
  font-family: 'Barlow';

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button {
  font-family: 'Barlow';

  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.buttonSmall {
  font-family: 'Barlow';

  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
