.link {
  display: flex;
  align-items: center;
  padding: var(--space-md-fixed);
  cursor: pointer;
  gap: var(--space-sm-fixed);
  color: var(--color-neutral-100) !important;
  width: 100%;
  min-height: 60px;
  svg {
    max-height: 19px;
    fill: var(--color-neutral-100);
  }
  &.selected {
    background-color: var(--color-neutral-700);

    border-right: 2px solid;
    border-image: var(--color-gradient-01-border) 0 100%;
  }

  &:hover * {
    opacity: 70%;
  }
}

.linkTitle {
  &.collapsed {
    display: none;
  }
}

.alertIconContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &.collapsed {
    display: none;
  }
}

.alertContainer {
  background-color: var(--color-primary-500);
  border-radius: var(--space-3xs-fixed);
  padding: var(--space-3xs) var(--space-sm);
  color: var(--color-neutral-100);

  &.hide {
    display: none;
  }

  &.secondary {
    background-color: var(--color-neutral-600);
  }
}

.root {
  display: flex;
  flex-direction: column;
}

.submenuCollapseIcon {
  transform: rotate(180deg);
  &.subMenuCollapsed {
    transform: rotate(0deg);
  }
}
