@use 'sass:math';
@use '../../../../../../styles/utilities/variables' as *;
@use '../../../../../../styles/utilities/loading' as *;

@function difference($a, $b) {
  @return calc(abs($a - $b) / (($a + $b) / 2));
}

$mobile-zoom: 1.25;

$max-item-width: 100px;
$max-item-height: 60px;

$mid-item-width: 96px;
$mid-item-height: 56px;

$min-item-width: 92px;
$min-item-height: 52px;

$scale-mid-to-max-height: calc(
  1 + difference($mid-item-height, $max-item-height)
);
$scale-mid-to-max-width: calc(1 + difference($mid-item-width, $max-item-width));

$scale-mid-to-min-height: calc(
  1 - difference($mid-item-height, $min-item-height)
);
$scale-mid-to-min-width: calc(1 - difference($mid-item-width, $min-item-width));

.itemContainer {
  width: $mid-item-width;
  height: $mid-item-height;
  background: var(--color-neutral-600);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: border 0.3s ease-in;

  &:not(.empty):not(.loading).noGradientBorder {
    border: 2px solid var(--color-neutral-600);
    overflow: hidden;
    .loader {
      display: block;
    }
    @include for-mobile-only {
      &.active {
        border-color: var(--color-stroke-selected);
      }
      .loader {
        display: none;
      }
    }
  }

  &.noGradientBorder .imageContainer {
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }

  &.empty {
    background: none;
    cursor: inherit;
  }

  @include for-mobile-only {
    width: calc($mid-item-width * $mobile-zoom);
    height: calc($mid-item-height * $mobile-zoom);
  }
}

.root:first-child,
.root:last-child {
  position: absolute;
}

.imageContainer {
  width: $mid-item-width;
  height: $mid-item-height;
  border-radius: 8px;
  overflow: hidden;

  z-index: 1;
  position: absolute;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

@mixin fullscreen-tint {
  z-index: 1;
  position: absolute;
  inset: 0px;
  content: '';
}

/////////
.itemContainer.noGradientBorder {
  transition: transform 0.3s ease-in-out;
  &:not(.empty):not(.loading)::after {
    background-color: var(--color-neutral-900);
    opacity: 60%;
    @include fullscreen-tint();
  }
  &:not(.empty):not(.loading):hover::after,
  &:not(.empty):not(.loading).active::after {
    background-color: transparent;
    opacity: 0%;
    @include fullscreen-tint();
  }
  @include for-mobile-only {
    &:not(.empty):not(.loading):hover::after {
      background-color: transparent;
      opacity: 0%;
    }
  }

  &.active {
    transform: scale(1.125, 1.125);
    @include for-mobile-only {
      transform: none;
    }
  }
}

.playIconContainer {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    stroke: var(--color-neutral-100);
  }
}

.loading {
  @include shinyLoader;
  &:hover {
    cursor: inherit;
  }
}
