@use 'sass:math';
@use '../../../../../../styles/utilities/variables' as *;
@use '../../../../../../styles/utilities/loading' as *;

@function difference($a, $b) {
  @return calc(abs($a - $b) / (($a + $b) / 2));
}

$mobile-zoom: 1.25;

$max-item-width: 100px;
$max-item-height: 60px;

$mid-item-width: 160px;
$mid-item-height: 90px;

$min-item-width: 92px;
$min-item-height: 52px;

.itemContainer {
  width: $mid-item-width;
  height: $mid-item-height;
  background: var(--color-neutral-600);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: border 0.3s ease-in;

  &:not(.empty):not(.loading).noGradientBorder {
    border: 2px solid var(--color-neutral-600);
    overflow: hidden;
    .loader {
      display: block;
    }
    @media screen and (max-width: #{$tabletLandscapeBreakpoint}) {
      &.active {
        border-color: var(--color-stroke-selected);
      }
      .loader {
        display: none;
      }
    }
  }

  &.noGradientBorder .imageContainer {
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }

  &.empty {
    background: none;
    cursor: inherit;
  }

  @media screen and (max-width: #{$tabletLandscapeBreakpoint}) {
    width: calc($mid-item-width * $mobile-zoom);
    height: calc($mid-item-height * $mobile-zoom);
  }
}

.root:first-child,
.root:last-child {
  position: absolute;
}

.imageContainer {
  width: $mid-item-width;
  height: $mid-item-height;
  border-radius: 8px;
  overflow: hidden;

  z-index: 1;
  position: absolute;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

@mixin fullscreen-tint {
  z-index: 1;
  position: absolute;
  inset: 0px;
  content: '';
}

/////////
.itemContainer.noGradientBorder {
  transition: transform 0.3s ease-in-out;
  &:not(.empty):not(.loading)::after {
    background-color: var(--color-neutral-900);
    opacity: 60%;
    @include fullscreen-tint();
  }
  &:not(.empty):not(.loading):hover::after,
  &:not(.empty):not(.loading).active::after {
    background-color: transparent;
    opacity: 0%;
    @include fullscreen-tint();
  }
  @media screen and (max-width: #{$tabletLandscapeBreakpoint}) {
    &:not(.empty):not(.loading):hover::after {
      background-color: transparent;
      opacity: 0%;
    }
  }
}

.playIconContainer {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    stroke: var(--color-neutral-100);
    width: 24px;
    height: 24px;
  }
}

.loading {
  @include shinyLoader;
  &:hover {
    cursor: inherit;
  }
}
