.circularButton {
  background: var(--color-primary-500);
  padding: var(--space-lg);
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter 0.25s ease-in-out;

  &:hover {
    filter: drop-shadow(2px 0px 40px rgba(61, 11, 111, 0.5))
      drop-shadow(2px 0px 40px rgba(61, 11, 111, 0.4))
      drop-shadow(2px 0px 32px rgba(61, 11, 111, 0.7))
      drop-shadow(2px 0px 8px rgba(61, 11, 111, 0.5));
  }

  &:active svg path {
    fill: var(--color-neutral-200);
  }
}
