@use '../../styles/utilities/_variables';
@use '../../styles/designSystem/typography';
@use '../../styles/designSystem/spacing';

.container {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-200);
  font-family: var(--default-secondary-font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-2lg);
}

.title {
  @extend .title;

  font-family: var(--secondary-font-family);
  font-weight: var(--bold);
  text-align: left;
  width: 100%;
}

.description {
  padding-top: var(--space-lg);
  margin-bottom: var(--space-2xl);
  color: var(--color-neutral-400);
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: var(--text-xl);
  font-style: normal;
  font-weight: var(--regular);
  line-height: calc(var(--text-xl) * 28 / 21);
}

.seeMoreButton {
  margin-top: var(--space-sm);
  padding: 0;
}
