@use '../../styles/utilities/_variables';
@import '../../styles/designSystem/typography';
@import '../../styles/designSystem/spacing';

.container {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-200);
  font-family: var(--default-secondary-font-family);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--space-xl);
  gap: var(--space-sm);
}

.title {
  @extend .title;
  
  font-family: var(--secondary-font-family);
  font-weight: var(--bold);
}
