@use '../../styles/utilities/gradientBorder' as *;
@import '../../styles/designSystem/_typography.scss';

$colorDirection: to top;

// need specificity to be 0,1,1 or higher so moved this out of base
button.base {
  opacity: 100%;
}

.base {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    color: var(--color-neutral-200);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.large {
  padding: var(--space-md) var(--space-2lg);
  border-radius: var(--space-md-fixed);
  font-size: var($buttonLgFontSize);
}

.medium {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--space-xs-fixed);
  font-size: var($buttonFontSize);
}

.small {
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--space-xs-fixed);
  font-size: var($buttonSmFontSize);
}

.content {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(
    --space-xs
  ) !important; // used important here to override the default gap that was being applied automatically
}

.brand {
  background-color: transparent;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, #1c6cb7 0%, #a31ae3 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 1px;
    z-index: -1;
    transition: background-color 0.2s ease;
  }

  > div {
    position: relative;
    z-index: 2;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::after {
      background-color: var(--fill-hover);
      color: var(--text-strong);
      opacity: 100%;
    }
  }

  &:active,
  &.active {
    &::after {
      background-color: var(--fill-pressed);
      color: var(--text-strong);
      opacity: 100%;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid var(--color-stroke-disabled);
    color: var(--text-disabled);
    background-color: transparent;
    opacity: 3;
    &::before {
      display: none;
    }
  }
}

.primary {
  color: var(--text-strong);
  background-color: var(--fill-brand-strong);
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      z-index: 1;
      opacity: 100%;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      z-index: 1;
      opacity: 100%;
    }
  }

  &:disabled,
  &[disabled] {
    background-color: var(--fill-disabled);
    color: var(--text-inverse-strong);
    border: none;
  }
}

.secondary {
  color: var(--text-brand);
  border: 1px solid var(--color-stroke-brand-strong);
  background: transparent;
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      z-index: 1;
      opacity: 100%;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      color: var(--text-brand);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid var(--color-stroke-disabled);
    color: var(--text-disabled);
    background-color: transparent;

    &::before {
      display: none;
    }
  }
}

.tertiary {
  color: var(--text-brand);
  background: transparent;
  border: none;
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      color: var(--text-brand);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:disabled,
  &[disabled] {
    border: none;
    color: var(--text-disabled);
    background-color: transparent;

    &::before {
      display: none;
    }
  }
}

.primary-neutral {
  color: var(--text-strong);
  background-color: var(--fill-inverse-weak);
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    background-color: var(--color-neutral-900);
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      z-index: 1;
      opacity: 100%;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--color-neutral-900);
      z-index: 1;
      opacity: 100%;
    }
  }

  &:disabled,
  &[disabled] {
    background-color: var(--fill-disabled);
    color: var(--text-inverse-disabled);
    border: none;
  }
}

.secondary-neutral {
  color: var(--text-strong);
  border: 1px solid var(--color-stroke-strong);
  background: var(--fill-weaker);
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      opacity: 100%;
      z-index: 1;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid var(--color-stroke-disabled);
    color: var(--text-disabled);
    background-color: transparent;

    &::before {
      display: none;
    }
  }
}

.tertiary-neutral {
  color: var(--text-strong);
  background: transparent;
  border: none;
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      opacity: 100%;
      z-index: 1;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:disabled,
  &[disabled] {
    border: none;
    color: var(--text-disabled);
    background-color: transparent;

    &::before {
      display: none;
    }
  }
}

.secondaryGradient {
  background-color: transparent;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, #1c6cb7 0%, #a31ae3 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 1px;
    z-index: -1;
    transition: background-color 0.2s ease;
  }

  > div {
    position: relative;
    z-index: 2;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::after {
      background-color: var(--fill-hover);
      color: var(--text-strong);
      opacity: 100%;
    }
  }

  &:active,
  &.active {
    &::after {
      background-color: var(--fill-pressed);
      color: var(--text-strong);
      opacity: 100%;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid var(--color-stroke-disabled);
    color: var(--text-disabled);
    background-color: transparent;
    opacity: 3;
    &::before {
      display: none;
    }
  }
}

.danger {
  color: var(--text-inverse-strong);
  background-color: var(--fill-error-strong);
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
    color: var(--text-inverse-strong);
  }

  &:hover:not(:disabled) {
    &::before {
      z-index: 1;
      opacity: 100%;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      color: var(--text-inverse-strong);
      z-index: 1;
      opacity: 100%;
    }
  }

  &:disabled,
  &[disabled] {
    background-color: var(--fill-disabled);
    border: none;
  }
}

.danger-secondary {
  color: var(--text-error);
  border: 1px solid var(--color-stroke-error-strong);
  background: transparent;
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-error-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      background-color: var(--fill-hover);
      color: var(--text-error);
      z-index: 1;
      opacity: 100%;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid var(--color-stroke-disabled);
    color: var(--text-disabled);
    background-color: transparent;
  }
}

.danger-tertiary {
  color: var(--text-error);
  background: transparent;
  border: none;
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--fill-hover);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:focus-visible,
  &.focusVisible {
    outline: 2px solid var(--color-stroke-focus);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    &::before {
      color: var(--text-error);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:active,
  &.active {
    &::before {
      background-color: var(--fill-pressed);
      opacity: 100%;
      z-index: 1;
    }
  }

  &:disabled,
  &[disabled] {
    color: var(--text-error-disabled);
    background-color: transparent;
  }
}

.icon.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-800);
  border: solid 2px var(--color-stroke-01);
  border-radius: var(--space-xs);
  padding: var(--space-sm-fixed);
  aspect-ratio: 1/1;

  &:hover:not(:disabled) {
    background: none;
    background-color: var(--fill-hover);
    border: 1px solid var(--color-neutral-500);
    opacity: 100%;
  }

  &:active {
    background: none;
    background-color: var(--color-neutral-900);
    border: solid 2px var(--color-neutral-700);
  }

  & span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.alert {
  background-color: var(--color-neutral-800);
  border: solid 1.5px var(--color-alert-400);
  color: var(--color-alert-400);

  &:hover:not(:disabled) {
    background-color: var(--fill-hover);
    &::before {
      opacity: 100%;
      z-index: 1;
    }
  }

  &:active,
  &.active {
    background-color: var(--fill-pressed);
    &::before {
      opacity: 100%;
      z-index: 1;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid var(--color-stroke-disabled);
    color: var(--text-disabled);
    background-color: transparent;
    opacity: 3;
    &::before {
      display: none;
    }
  }
}

.link {
  border: none;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  color: var(--color-primary-300);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-radius: 0;

  svg path {
    fill: var(--button-svg-path-fill, var(--color-primary-300));
    transition: fill 0.25s ease-out;
  }

  .content:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 1px;
    left: 0;
    background-color: var(--text-brand);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out, background-color 0.25s ease-out;
    transform: scaleX(1);
    transform-origin: bottom left;

    svg path {
      fill: var(--button-svg-path-fill-hover, var(--text-brand));
    }
    opacity: 100%;
  }

  &:hover:not(:disabled) .content {
    color: var(--color-primary-200);

    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    svg path {
      fill: var(--button-svg-path-fill-hover, var(--color-primary-200));
    }
    opacity: 100%;
  }

  &:active {
    color: var(--color-primary-200);

    &:after {
      background-color: var(--color-primary-200);
    }
  }

  &:disabled,
  &[disabled] {
    opacity: 1;
    color: var(--color-neutral-400);
  }
}

.menuItem {
  padding: 0;
  margin: 0;
  color: var(--color-neutral-100);

  .content {
    padding-bottom: 2px;
    line-height: normal;
    position: relative;
  }

  .content:before {
    background-color: none;
    border: none;
    svg path {
      fill: none;
    }
    opacity: 0;
  }

  .content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:not(:disabled) .content {
    color: var(--color-neutral-100);

    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &:active,
  &.active {
    color: var(--color-secondary-100);

    &:hover:not(:disabled) .content {
      color: var(--color-secondary-100);
    }
  }
}
