.base {
  font-size: var(--text-md);
  border-radius: var(--space-xs-fixed);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.1s ease-in-out, background-color 0.25s ease-in-out,
    border 0.25s ease-in-out;

  &:active {
    color: var(--color-neutral-200);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.large {
  padding: var(--space-md) var(--space-xl);
}

.medium {
  padding: var(--space-xs) var(--space-md);
}

.small {
  padding: var(--space-3xs) var(--space-md);
}

.content {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md-fixed);
}

.primary {
  color: var(--color-neutral-0);
  background: var(--color-gradient-01);
  border: 1.5px solid transparent;
  background: var(--color-gradient-01) padding-box,
    var(--color-gradient-01-border) border-box;

  &:hover {
    background: var(--color-gradient-02) padding-box,
      var(--color-gradient-02-border) border-box;
  }

  &:active {
    background: var(--color-gradient-03) padding-box,
      var(--color-gradient-03-border) border-box;
  }
}

.secondary {
  color: var(--color-neutral-0);
  border: 1.5px solid transparent;

  background: var(--color-primary-500);

  &:hover {
    background-color: var(--color-primary-600);
    background: linear-gradient(
          var(--color-primary-600),
          var(--color-primary-600)
        )
        padding-box,
      linear-gradient(180deg, #6e37b3 0%, #4a06a0 100%) border-box;
  }

  &:active {
    color: var(--color-neutral-200);
    background: linear-gradient(
          var(--color-primary-600),
          var(--color-primary-600)
        )
        padding-box,
      linear-gradient(180deg, #6e37b3 0%, #4a06a0 100%) border-box;
  }
}

.tertiary {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-100);
  border: solid 1.5px var(--color-stroke-03);

  &:hover {
    background-color: var(--color-neutral-600);
    color: var(--color-neutral-100);
  }

  &:active {
    background-color: var(--color-neutral-600);
    color: var(--color-neutral-300);
  }
}

.icon.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-800);
  border: solid 2px var(--color-stroke-01);
  padding: var(--space-sm-fixed);
  aspect-ratio: 1/1;

  &:hover {
    background: none;
    background-color: var(--color-neutral-700);
    border: solid 2px var(--color-neutral-500);
    opacity: 100%;
  }

  &:active {
    background: none;
    background-color: var(--color-neutral-900);
    border: solid 2px var(--color-neutral-700);
  }
}

.danger {
  background-color: var(--color-neutral-800);
  border: solid 1.5px var(--color-stroke-03);
  color: var(--color-status-error);

  &:hover {
    border: solid 1.5px var(--color-quaternary-500);
  }

  &:active {
    color: var(--color-quaternary-500);
  }
}

.alert {
  background-color: var(--color-neutral-800);
  border: solid 1.5px var(--color-alert-400);
  color: var(--color-alert-400);

  &:hover {
    border: solid 1.5px var(--color-alert-300);
  }

  &:active {
    color: var(--color-alert-300);
  }
}

.link {
  border: none;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  color: var(--color-primary-200);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-radius: 0;

  svg path {
    fill: var(--color-primary-200);
    transition: fill 0.25s ease-out;
  }

  .content:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 2px;
    left: 0;
    background-color: #ff83e2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out, background-color 0.25s ease-out;
  }

  &:hover .content {
    color: #ff83e2;

    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    svg path {
      fill: #ff83e2;
    }
  }

  &:active {
    color: var(--color-primary-200);

    &:after {
      background-color: var(--color-primary-200);
    }
  }

  &:disabled,
  &[disabled] {
    opacity: 1;
    color: var(--color-neutral-400);
  }

  &.small {
    padding: var(--space-3xs-fixed) var(--space-lg-fixed);
  }
}

.menuItem {
  padding: 0;
  margin: 0;
  color: var(--color-neutral-0);

  &:hover .content {
    color: var(--color-neutral-0);
  }

  .content:after {
    background-color: white;
    height: 2px;
    bottom: 0px;
  }

  &:active,
  &.active {
    color: var(--color-secondary-100);

    &:hover .content {
      color: var(--color-secondary-100);

      &:after {
        background-color: var(--color-secondary-100);
      }
    }
  }
}
