.socialLinks {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.websiteIcon {
  color: var(--icon-neutral);
  width: 100%;
  height: 100%;
}

.twitterIcon {
  color: var(--icon-neutral);
}

.discordIcon {
  color: var(--icon-neutral);

  svg {
    path {
      fill: var(--icon-neutral);
    }
  }
}

.youtubeIcon {
  color: var(--icon-neutral);

  svg {
    path {
      fill: var(--icon-neutral);
    }
  }
}
