.dropdown {
  background: var(--color-neutral-700);
  --popover-border-color: var(--color-stroke-01) !important;
  background-color: var(--color-neutral-700) !important;
}

.item {
  &:hover {
    opacity: 1;
  }

  &[data-hovered='true'] {
    background-color: var(--color-neutral-600);
  }
}

.divider {
  border-color: var(--color-stroke-01) !important;
}

.label {
  color: var(--color-neutral-400);
}

.itemLabel {
  color: var(--color-neutral-200);
}

.itemSection {
  color: var(--color-neutral-200);
}

