@use '../../styles/utilities/inputs';

.container {
  display: flex;
  flex-direction: column;
}


.card {
  display: flex;
  flex-direction: column;
  background: var(--color-neutral-700);
  border-radius: var(--space-sm);
  padding: var(--space-xs) var(--space-md);
  gap: var(--space-sm);
}

.button {
  background: var(--color-neutral-600);
  padding: var(--space-xs);
  border-radius: var(--space-xs);
  font-size: var(--text-sm);
  color: var(--color-neutral-300);
}
