@use '../../styles/utilities/_variables';
@use '../../styles/designSystem/typography' as *;
@use '../../styles/designSystem/spacing' as *;

.container {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-200);
  font-family: var(--default-secondary-font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-xl);
  text-align: center;
  border-radius: var(--space-xs);
}

.title {
  @extend .title;
  font-family: var(--secondary-font-family);
  margin-top: var(--space-lg);
}

.description {
  @extend .caption;

  font-size: var(--text-md);
  font-weight: var(--regular);
  margin-bottom: var(--space-xl);
  max-width: 90%;

  @include variables.for-tablet-portrait-up {
    max-width: 35%;
  }

  @include variables.for-desktop-up {
    max-width: 30%;
  }
}

.questIcon {
  width: 60px;
  height: 60px;
  fill: var(--color-neutral-400);
}

.questIconContainer {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 6px solid var(--color-stroke-01);
}

.ctaButton {
  // TODO: revisit button component and find out why we need to use !important to apply the font-size
  font-size: var(--text-sm) !important;
}
