.list {
  border: none;

  > button {
    opacity: 1;
  }

  > button.tab {
    border-radius: 0px;
  }

  > button.tab:first-of-type {
    border-radius: var(--space-xs) 0px 0px var(--space-xs);
  }

  > button.secondary.tab:first-of-type {
    border-radius: 0px;
  }

  > button.tab:last-of-type {
    border-radius: 0px var(--space-xs) var(--space-xs) 0px;
  }

  > button.secondary.tab:last-of-type {
    border-radius: 0px;
  }
}

.list.outline > button.tab {
  border-top: 1px solid var(--color-neutral-600);
  border-bottom: 1px solid var(--color-neutral-600);
}

.list.outline > button.tab:first-of-type {
  border-left: 1px solid var(--color-neutral-600);
}

.list.outline > button.tab:last-of-type {
  border-right: 1px solid var(--color-neutral-600);
}

.tab {
  background-color: var(--color-neutral-800);
  padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-md);
  border: none;

  &[data-active] {
    background-image: var(--color-gradient-01);
  }

  &:hover {
    background-color: var(--color-neutral-600);
    border: none;
  }

  &:hover > span {
    color: var(--color-neutral-300);
  }

  &[data-active] > span {
    color: var(--color-neutral-400);
    color: var(--color-neutral-100);
  }

  > span {
    color: var(--color-neutral-400);
  }

  &.secondary {
    background-color: transparent;
    // necessary to prevent layout shift when changing tabs
    border-bottom: 2px solid transparent;

    &[data-active] {
      background-image: none;
      border-bottom: 2px solid var(--color-primary-200);
      border-bottom-left-radius: 0px;

      > span {
        color: var(--color-primary-200);
      }
    }
  }
}
