.button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  align-items: center;
  border-radius: 50%;
  background: var(--color-primary-400);
  border: none;
  filter: drop-shadow(2px 0px 40px rgba(61, 11, 111, 0.5))
    drop-shadow(2px 0px 40px rgba(61, 11, 111, 0.4))
    drop-shadow(2px 0px 32px rgba(61, 11, 111, 0.7))
    drop-shadow(2px 0px 8px rgba(61, 11, 111, 0.5));
}
