@use '../../styles/utilities/inputs';

.root {
  display: flex;
  flex-direction: column;
  max-width: 120px;
}

.box {
  width: 100%;
  height: 120px;
  border: 2px dashed var(--color-stroke-01);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-sm);
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--space-sm);
}

.innerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  background-color: var(--color-neutral-600);
}

.error {
  border-color: var(--color-error-400);
}

.errorText {
  margin-top: var(--space-sm);
  color: var(--color-error-400);
}

.changeButton {
  margin-top: var(--space-sm);
}
