.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-neutral-700);
  border-radius: 1000px;
  padding: var(--space-md) var(--space-2lg) var(--space-md) var(--space-md);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: var(--space-3xs);

  > div {
    text-align: right;
  }
}

.image {
  max-height: 48px;
  border: 2px solid var(--color-neutral-600);
  border-radius: 1000px;
}

.name {
  color: var(--color-neutral-400);
}

.dropdown {
  background-color: var(--color-neutral-600) !important;
  border-radius: var(--space-xs) !important;
  padding: var(--space-sm) !important;
  border: none;
}

.arrow {
  background-color: var(--color-neutral-600) !important;
  border: none;
}
