@import "../../styles/designSystem/spacing";
@import "../../styles/designSystem/colors";
@import "../../styles/designSystem/typography";
@import '../../styles/utilities/_variables';

.title {
  color: white;
  font-weight: var(--bold);
}

.subtitle {
  color: var(--color-neutral-400);
}

.icon {
  fill: var(--color-neutral-100);
}

.recommendedLabel {
  color: var(--color-primary-200);
}

.providersContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-md);

  @include for-tablet-portrait-up {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.emailRoundedIcon {
  display: flex;
  padding: calc(var(--space-xs) * 1.25);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--space-xs) * 1.25);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--color-primary-500);
}

.signupButtonContainers {
  display: flex;
  gap: var(--space-sm);
  justify-content: center;
}

.actionButton {
  min-width: 167px;
}

.verifyButton {
  width: 100%;
  max-width: 218px;
  margin: auto;
}

.emailInput {
  width: 100%;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLink {
  width: fit-content;
  color: var(--color-secondary-300);
  padding: 0 !important;
}

.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-lg) * 1.2);
}




