.root {
  gap: var(--space-md);
  display: flex;
  flex-direction: column;
}

.pendingDepositLabel,
.successDepositLabel {
  font-family: var(--secondary-font-family);
  font-size: var(--text-sm);
  font-weight: var(--medium);
  line-height: var(--space-md);
}

.arrowDownIcon {
  fill: var(--color-neutral-100);
  stroke: var(--color-neutral-100);
  width: 14px;
  height: 14px;
}