$mobilePadding: 25px;

$mobileSmallBreakpoint: 360px;
$mobileBreakpoint: 950px;
$laptopBreakpoint: 1350px;

@mixin for-mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $mobileBreakpoint) {
    @content;
  }
}
@mixin for-steamdeck-down {
  @media (max-width: 1300px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin imageWrapper {
  position: relative;
  object-fit: cover;
  justify-content: center;
  vertical-align: middle;
}
