.root {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-neutral-700);
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-600);
  
  .left {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .col {
    display: flex;
    flex-direction: column;
  }
}