@use '../../styles/designSystem/spacing';
@use '../../styles/designSystem/colors';

.root {
  max-width: 600px;
}

.emailRoundedIcon {
  background: var(--color-status-success);
}

.icon {
  fill: var(--color-neutral-900);
}

.button {
  width: 100%;
  max-width: 218px;
  margin: auto;
}
