@use '../../styles/designSystem/spacing' as *;
@use '../../styles/designSystem/colors' as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.emailRoundedIcon {
  background: var(--fill-success-strong);
}

.icon {
  fill: var(--icon-inverse-strong);
}

.button {
  display: flex;
  justify-content: center;
  max-width: 218px;
}
