@use '../../../../styles/utilities/variables' as *;
@use '../../../../styles/designSystem/typography' as *;

.controllerDetached {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: auto;
  justify-content: space-between;
  padding: var(--space-md);
  background-color: var(--background-base);
  border-top-right-radius: var(--space-sm-fixed);
  border-bottom-right-radius: var(--space-sm-fixed);

  @include for-mobile-only {
    display: none;
  }

  @media screen and (max-width: #{$tabletLandscapeBreakpoint}) {
    margin-top: 0px;
    overflow-x: auto;
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
    }
    .itemsPageButton {
      display: none;
      border: none;
    }
  }
}

.itemsPageButton {
  width: 48px;
  height: 48px;
}

.root {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-sm-fixed);
  flex: 1;
}
