@import '../../../../styles/utilities/variables';
@import '../../../../styles/designSystem/typography';

.controllerAttached {
  display: none;
  right: var(--space-xl-fixed);
  bottom: var(--space-xl-fixed);
  position: absolute;

  @include for-tablet-landscape-up {
    display: block;
  }
}

.controllerDetached {
  display: none;
  margin-top: var(--space-xl);

  @include for-tablet-landscape-up {
    display: block;
  }
}

.root {
  position: relative;
  display: flex;
  gap: var(--space-md);
  width: fit-content;
  transition: transform 0.2s, opacity 0.2s;
  transform: translateY(0px);
  opacity: 1;
  z-index: 1;
}

.hidden {
  transform: translateY(30px);
  opacity: 0;
}

.displayNone {
  display: none;
}
