@use '../../styles/designSystem/typography' as *;
@use '../../styles/designSystem/spacing' as *;
@use '../../styles/designSystem/colors' as *;

.root {
  @extend .body-sm;

  white-space: normal;
  text-wrap: wrap;
  line-height: var(--space-xl);
  color: var(--color-neutral-400);
}

.linkBtn {
  padding: 0 !important;
}

.blockquote {
  color: var(--color-alert-400);
  margin: var(--space-md) 0;
}

.eth-address {
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--space-2xs);
  font-weight: var(--semibold);
  background: var(--color-primary-600);
  color: var(--color-primary-100);
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Courier New',
    monospace;
  font-size: var(--text-sm);
  text-decoration: none;
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--color-primary-700);
  }

  &:visited {
    color: var(--color-primary-100);
  }
}

.number-token {
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--space-2xs);
  background: var(--color-primary-600);
  color: var(--color-primary-100);
  font-variant-numeric: tabular-nums;
  font-weight: var(--medium);
}
