$bgColor: var(--color-neutral-800);
$textColor: var(--color-neutral-100);
.panel {
  background-color: $bgColor;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: var(--space-xs-fixed) var(--space-lg-fixed) var(--space-md-fixed)
    var(--space-lg-fixed);
  max-height: 70vh;
  overflow-y: auto;
}

.item {
  background-color: $bgColor;
  color: $textColor;
  border: 1.5px solid var(--color-stroke-01);

  &[data-active] {
    background-color: $bgColor;
    color: $textColor;
  }
  // buttons have a div inside them. we don't want to change the background color of that div
  :hover:not(button > div) {
    background-color: $bgColor;
  }
  overflow: hidden;
}

.control {
  color: $textColor;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px var(--space-lg-fixed);
}

.optionRow {
  > .onlyButton {
    visibility: hidden;
  }

  &:hover > .onlyButton {
    visibility: visible;
  }
}

.chevron {
  width: 16px;
}

$containerRadius: var(--space-sm);
.root {
  > div:first-child {
    border-top-right-radius: $containerRadius;
    border-top-left-radius: $containerRadius;
  }
  > :not(div:first-child) {
    border-top-width: 0px;
  }
  > div:last-child {
    border-bottom-right-radius: $containerRadius;
    border-bottom-left-radius: $containerRadius;
  }
}

.sectionTitle {
  padding: var(--space-sm) 0px;
}
