@use '../../styles/utilities/inputs';

.input {
  @extend .input;
  line-height: var(--text-4xl);
}
.options {
  background: var(--color-neutral-700);
}

.dropdown {
  background: var(--color-neutral-700);
  --popover-border-color: var(--color-stroke-01) !important;
  background-color: var(--color-neutral-700) !important;
}

.option {
  color: var(--color-neutral-200);

  &:hover {
    background-color: var(--color-neutral-600);
  }
}
