@mixin buttonDefaultStyle {
  font-family: var(--secondary-font-family);
  border-radius: 10000px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: var(--space-sm) var(--space-md);
  white-space: nowrap;
  cursor: pointer;
}

button {
  @include buttonDefaultStyle();
}

.button {
  @include buttonDefaultStyle();
  padding: var(--space-sm);
  background: var(--primary);
  font-style: normal;
  transition: 500ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ctaButton {
  background: var(--color-gradient-primary);
  cursor: pointer;
}

.ctaButton:hover {
  background: var(--color-gradient-primary-hover);
}
