@mixin colorSystem {
  /* Semantic Naming */
  // Brand
  --color-primary: #7318fb;
  --color-secondary: #c285ff;
  --color-tertiary: #4B10A6;

  // Neutrals
  --color-neutral-0: #fcfcf9;
  --color-neutral-20: #E0E2E2;
  --color-neutral-50: #94A2B3;
  --color-neutral-80: #7F8596;
  --color-neutral-100: #5A5E6A;
  --color-neutral-130: #1A1D25;
  --color-neutral-150: #13141A;
  --color-neutral-200: #0C0B0F;

  // Status
  --color-status-success: #40FFD1;
  --color-status-caution: #FFAB00;
  --color-status-error: #FF9191;

  // Gradients
  --color-gradient-primary: linear-gradient(180deg, #3c71f3 0%, #b923ff 100%);
  --color-gradient-primary-hover: linear-gradient(
    90deg,
    #3c71f3 0%,
    #b923ff 100%
  );

  // Stroke
  --color-stroke-highlight: #40ffff;
  --color-stroke-error: #f54163;
}

:root {
  color: var(--color-neutral-0);
}

.color-neutral-50 {
  color: var(--color-neutral-50);
}