.button-attached {
  cursor: pointer;
  width: 24px;
  height: 24px;
  align-items: center;
  border-radius: 50%;
  background: var(--color-primary-400);
  border: none;
  filter: drop-shadow(2px 0px 40px rgba(61, 11, 111, 0.5))
    drop-shadow(2px 0px 40px rgba(61, 11, 111, 0.4))
    drop-shadow(2px 0px 32px rgba(61, 11, 111, 0.7))
    drop-shadow(2px 0px 8px rgba(61, 11, 111, 0.5));
  transform: rotate(180deg);

  &.leftButton {
    transform: rotate(0deg);
  }
}

.root-attached {
  position: absolute;
  z-index: 2;
  right: 0;
  left: unset;
  transform: translateX(50%);
  height: 100%;
  display: flex;
  align-items: center;

  &.leftButton {
    right: unset;
    left: 0;
    transform: translateX(-50%);
  }
}

.root-detached {
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--color-neutral-500);
  border-radius: 1000px;
  aspect-ratio: 1 / 1;
}

.button-detached {
  width: 46px;
  transform: rotate(180deg);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;

  &.leftButton {
    transform: rotate(0deg);
  }
}

.root {
  button:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}
