.root {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--color-neutral-600);

    &:last-child {
      border-bottom: none;
    }

    > td {
      padding: var(--space-md) 0px;

      &:last-of-type {
        text-align: right;
      }
    }
  }

  td:first-of-type {
    color: var(--color-neutral-400);
  }

  tbody {
    tr:first-of-type {
      td {
        border-top: 1px solid var(--color-neutral-600);;
      }
    }
  }
}

.copyCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-xs);
}
