.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);

  > img {
    max-height: calc(2.5 * var(--space-unit-fixed));
    border-radius: var(--space-xs);
  }
}
