@import '../../styles/overrides';

.container {
  border-radius: var(--space-md);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.colorNeutral400 {
  color: var(--color-neutral-400);
}

.hero {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(151, 71, 255, 0.5) 0%,
    rgba(0, 25, 115, 0.5) 100%
  );
  padding: var(--space-2lg);
  border-radius: var(--space-md) var(--space-md) 0px 0px;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
  }

  .tagList {
    display: flex;
    gap: var(--space-xs);
    flex-wrap: wrap;
    max-width: 225px;
  }

  .tag {
    background-color: var(--color-neutral-600);
    border-radius: var(--space-3xs);
    padding: var(--space-3xs);
    font-weight: var(--medium);
    line-height: var(--text-md);
  }
}

.achievements {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-2lg);
  background: var(--color-neutral-800);
  border-top: 3px solid var(--color-neutral-900);
  max-height: 100%;
  overflow-y: scroll;
  flex: 1;
  border-radius: 0px 0px var(--space-md) var(--space-md);

  .list {
    display: flex;
    gap: var(--space-md);
    flex-direction: column;
  }

  .achievementData {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    align-items: center;
  }

  .image {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 12px 0px #00000029;
    @include broken-image-fix();
  }

  .fallback {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(4, 4, 5, 0) 0%,
        rgba(12, 11, 15, 0.65) 69.93%,
        rgba(12, 11, 15, 0.9) 100%
      ),
      linear-gradient(0deg, #2b394c, #2b394c);
  }

  .achievementInfo {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .achievementState {
    display: flex;
    align-items: center;
  }

  .unlocked {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    color: var(--color-success-100);
    svg {
      fill: var(--color-success-300);
    }
  }
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  width: 200px;

  .progressKey {
    margin-top: var(--space-xs);
  }
}

.locked {
  opacity: 0.5;
}

.title {
  margin-bottom: var(--space-sm-fixed);
  margin-top: var(--space-lg-fixed);
  font-family: var(--primary-font-family);
}

.ctaContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-xs);
  gap: var(--space-xs);
}

.rightIcon {
  font-size: var(--text-md);
  padding: 0 var(--space-xs);
  border-radius: var(--space-xs);
  display: flex;
  align-items: center;
  justify-content: center;

  &.mint {
    background-color: var(--color-primary-700);
  }

  &.update {
    background-color: var(--color-alert-400);
    color: var(--color-neutral-800);
  }
}
