.messageModalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-neutral-700);
  border-radius: var(--space-lg);
  padding: 56px 40px;
  gap: var(--space-sm);
  text-align: center;
}

.message {
  color: var(--color-neutral-400);
  line-height: var(--space-xl);
}
