$toastPaddings: var(--space-2lg);

.downloadToastContainer {
  max-width: 400px;
  background-color: var(--color-neutral-700);
  padding: $toastPaddings;
  border-radius: var(--space-sm);
  border: 1px solid var(--color-neutral-600);
  box-shadow: 0px 10px 60px rgba(117, 81, 255, 0.24);
}

.topBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-lg);
}

.topBar svg {
  color: var(--color-stroke-weak);
}

.contentContainer {
  display: flex;
  width: 100%;
  gap: var(--space-md);
}

.gameImage {
  height: 100%;
  width: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.gameTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-3xs);
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-2xs);
}

.detailsContainer {
  flex-grow: 1;
}

$progressBarBorderRadius: var(--space-2xs);

.progressBar {
  --download-progress-bar-percentage: 0%;
  height: var(--space-xs);
  width: 100%;
  background-image: linear-gradient(
    90deg,
    var(--color-status-success) var(--download-progress-bar-percentage),
    var(--color-neutral-600) var(--download-progress-bar-percentage)
  );
  position: relative;
  border-radius: $progressBarBorderRadius;
}

.percentCompletedText {
  padding-left: var(--space-2xs);
  color: var(--text-strong);
}

.manageDownloadContainer {
  margin: var(--space-2lg) 0 0 0;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-2lg);
}

.stopDownloadButton {
  color: var(--color-status-error);
}

.downloadNumberContainer {
  display: flex;
}

.downloadNumberContainer :first-child {
  color: var(--color-status-success);
}

.downloadNumberContainer :nth-child(2) {
  color: var(--text-weak);
  margin: 0px var(--space-3xs);
}

.downloadNumberContainer :nth-child(3) {
  color: var(--text-weak);
}

.closeButton {
  cursor: pointer;
  display: flex;
  align-items: center;

  > svg {
    color: var(--icon-neutral);
    width: var(--space-2lg);
    height: var(--space-2lg);
  }
}
