@use "../../styles/utilities/inputs";

.root {
  display: flex;
  flex-direction: column;
}

.charCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: var(--space-md);
  color: var(--color-neutral-400);
}
