.base {
  padding: var(--space-xs) var(--space-md);
  border-radius: 8px;
  color: var(--color-neutral-100);
  display: flex;
  align-items: center;
  background-color: var(--color-status-info);
  gap: var(--space-xs);
  font-weight: var(--medium);
}

.danger {
  background-color: var(--color-status-error);
}

.warning {
  background-color: var(--color-status-alert);
  color: var(--color-neutral-800);
}

.success {
  background-color: var(--color-status-success);
}

.info {
  color: var(--color-neutral-800);
  background-color: var(--color-status-info);
}
