.associatedGamesContainer {
  border: 1px solid var(--color-stroke-01);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--space-sm);
  background-color: var(--color-neutral-800);
  align-self: stretch;
}

.associatedGamesButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > .opened {
    transform: rotate(180deg);
  }

  margin-bottom: var(--space-md);

  &.collpased {
    margin-bottom: 0px;
  }
}

.associatedGamesCollapseContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
