.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-md);
  align-self: stretch;
  border-radius: var(--space-xs);
  border: 2px solid var(--color-neutral-600);
}

.toggleButton {
  color: var(--color-neutral-100);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: left;
  cursor: pointer;
  padding: var(--space-xs) var(--space-md);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xs);
  align-self: stretch;
}

.subtitle {
  font-size: var(--text-xs);
  color: var(--color-neutral-100);
}

.content {
  width: 100%;
  padding: var(--space-xs) var(--space-md);
  padding-top: 0;
}

.buttonTitle {
  font-family: var(--secondary-font-family);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--regular);
  line-height: calc(var(--text-md) * 20 / 16);
}

.arrowTopIcon {
  color: var(--color-neutral-400);
  width: 16px;
  height: 16px;
}

.arrowDownIcon {
  color: var(--color-neutral-400);
  width: 12px;
  height: 12px;
}
