:root {
  --color-primary: #7318fb;
  --color-secondary: #c285ff;
  --color-white-gray: #f4f5f6;
  --color-white: #fcfcf9;

  --color-background: #0c0b0f;
  --color-card: #13141a;
  --color-dark-gray: #1a1d25;
  --color-gray: #7f8596;
  --light-gray: #94a2b3;

  --color-status-green: #40ffd1;
  --color-status-yellow: #ffab00;
  --color-status-red: #ff9191;

  --color-gradient-primary: linear-gradient(180deg, #3c71f3 0%, #b923ff 100%);
  --color-gradient-primary-hover: linear-gradient(
    89.89deg,
    #3c71f3 0.11%,
    #b923ff 99.91%
  );

  --color-stroke-highlight: #40ffff;
  --color-stroke-error: #f54163;
}
