@mixin buttonDefaultStyle {
  font-family: var(--secondary-font-family);
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: none;
  white-space: nowrap;
  cursor: pointer;
  background: none;
}

button {
  @include buttonDefaultStyle();
}

.ctaButton {
  background: var(--color-gradient-primary);
  cursor: pointer;
}

.ctaButton:hover {
  background: var(--color-gradient-primary-hover);
}
