@mixin buttonDefaultStyle {
  font-family: var(--secondary-font-family);
  border: none;
  text-align: center;
  padding: none;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  color: var(--color-neutral-100);
  transition: 0.25s ease-in-out;
}

button {
  @include buttonDefaultStyle();
}

button:hover {
  opacity: 50%;
}

.ctaButton {
  background: var(--color-gradient-primary);
  cursor: pointer;
}

.ctaButton:hover {
  background: var(--color-gradient-primary-hover);
}

a {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
