@function em($px) {
  @return #{calc($px / 16)}em;
}

@mixin spacingSystem {
  /* spacing values */
  --space-3xs: #{em(4)};
  --space-2xs: #{em(6)};
  --space-xs: #{em(8)};
  --space-sm: #{em(10)};
  --space-md: #{em(12)};
  --space-lg: #{em(16)};
  --space-xl: #{em(18)};
  --space-2xl: #{em(20)};
  --space-3xl: #{em(24)};
  --space-4xl: #{em(32)};
  --space-5xl: #{em(40)};
  --space-6xl: #{em(48)};
  --space-7xl: #{em(59)};
  --space-8xl: #{em(68)};

  --space-3xs-fixed: 4px;
  --space-2xs-fixed: 6px;
  --space-xs-fixed: 8px;
  --space-sm-fixed: 10px;
  --space-md-fixed: 12px;
  --space-lg-fixed: 16px;
  --space-xl-fixed: 18px;
  --space-2xl-fixed: 20px;
  --space-3xl-fixed: 24px;
  --space-4xl-fixed: 32px;
  --space-5xl-fixed: 40px;
  --space-6xl-fixed: 48px;
  --space-7xl-fixed: 59px;
  --space-8xl-fixed: 68px;
}

:root {
  @include spacingSystem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: var(--space-2xs);
}

p,
body {
  margin: 0;
}
