@mixin spacingSystem {
  /* spacing values */
  --space-3xs: 0.25em; // 4px
  --space-2xs: 0.375em; // 6px
  --space-xs: 0.5em; // 8px
  --space-sm: 0.75em; // 12px
  --space-md: 1em; // 16px
  --space-lg: 1.25em; // 20px
  --space-xl: 2em; // 32px
  --space-2xl: 4em; // 64px
  --space-3xl: 8em; // 128px

  --space-unit-fixed: 16px;
  --space-3xs-fixed: calc(0.25 * var(--space-unit-fixed));
  --space-2xs-fixed: calc(0.375 * var(--space-unit-fixed));
  --space-xs-fixed: calc(0.5 * var(--space-unit-fixed));
  --space-sm-fixed: calc(0.75 * var(--space-unit-fixed));
  --space-md-fixed: calc(1 * var(--space-unit-fixed));
  --space-lg-fixed: calc(1.25 * var(--space-unit-fixed));
  --space-2lg-fixed: calc(1.5 * var(--space-unit-fixed));
  --space-xl-fixed: calc(2 * var(--space-unit-fixed));
  --space-2xl-fixed: calc(4 * var(--space-unit-fixed));
  --space-3xl-fixed: calc(8 * var(--space-unit-fixed));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
}
