@function em($px) {
  @return #{calc($px / 16)}rem;
}

$spacing-map: (
  'xxs': 2,
  'xs': 4,
  'sm': 8,
  'md': 12,
  'lg': 16,
  'xl': 24,
  'xxxl': 32,
  '2xxl': 48,
  '3xxl': 56,
  '4xxl': 64,
  '5xxl': 96,
  '6xxl': 128,
  '7xxl': 164,
  '8xxl': 200,
  '9xxl': 256,
  '10xxl': 512
);

@mixin uiSpacing {
  @each $key, $value in $spacing-map {
    --ui-space--#{$key}: #{em($value)};
    --ui-space--#{$key}-fixed: #{$value}px;
  }
}

:root {
  @include uiSpacing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: var(--space-2xs);
}

p,
body {
  margin: 0;
}
