@use '../utilities/variables';
@use '../utilities/utils';

// Whilst I've done my best to mimick the previous design system, this functionality isn't used within the codebase whilst heavily decreasing the DX, maintainability and readability of the code
// $ui-size-map: (
//   'xxs': 12,
//   'xs': 15,
//   'sm': 16,
//   'md': 18,
//   'lg': 20,
//   'xl': 24,
//   '2xl': 32,
//   '3xl': 40,
//   '4xl': 48,
//   '5xl': 56,
//   '6xl': 64
// );

@mixin uiTypography {
  --ui-primary-font: 'Rajdhani', normal;
  --ui-secondary-font: 'Barlow', normal;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 900;

  // @each $key, $value in $ui-size-map {
  //   --ui-text-#{$key}: #{utils.pxToRem($value)};
  // }
}

.light {
  font-weight: var(--light);
}

.regular {
  font-weight: var(--regular);
}

.medium {
  font-weight: var(--medium);
}

.semibold {
  font-weight: var(--semibold);
}

.bold {
  font-weight: var(--bold);
}

.extrabold {
  font-weight: var(--extrabold);
}

body {
  font-family: var(--ui-secondary-font), -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

// @each $key, $value in $ui-size-map {
//   .text--#{$key} {
//     font-size: var(--ui-text-#{$key});
//   }
// }

/* FONT FAMILIES */
code,
.ui-caption,
.ui-caption--sm,
.ui-eyebrow,
.ui-body,
.ui-body--sm,
.ui-button,
.ui-button--sm {
  font-family: var(--ui-secondary-font), source-code-pro, Menlo, Monaco,
    Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.ui-menu,
.ui-title {
  font-family: var(--primary-font-family);
}

/* Elements */
h1 {
  font-size: utils.pxToRem(64);
  line-height: utils.pxToRem(72);
  letter-spacing: utils.pxToRem(-1);
}

h2 {
  font-size: utils.pxToRem(56);
  line-height: utils.pxToRem(64);
  letter-spacing: utils.pxToRem(-1);
}

h3 {
  font-size: utils.pxToRem(48);
  line-height: utils.pxToRem(56);
  letter-spacing: utils.pxToRem(-1);
}

h4 {
  font-size: utils.pxToRem(40);
  line-height: utils.pxToRem(56);
  letter-spacing: utils.pxToRem(-1);
}

h5 {
  font-size: utils.pxToRem(32);
  font-weight: var(--bold);
  letter-spacing: utils.pxToRem(-0.5);
}

h6 {
  font-size: utils.pxToRem(24);
  line-height: utils.pxToRem(40);
  letter-spacing: utils.pxToRem(-0.5);
}

.ui-menu {
  font-size: utils.pxToRem(16);
  font-weight: var(--semibold);
  line-height: utils.pxToRem(24);
  letter-spacing: utils.pxToRem(1);
}

.ui-title {
  font-size: utils.pxToRem(20);
  font-weight: var(--bold);
  line-height: utils.pxToRem(24);
}

.ui-title--sm {
  font-size: utils.pxToRem(18);
  font-weight: var(--medium);
  line-height: utils.pxToRem(20);
}

.ui-body {
  font-size: utils.pxToRem(16);
  font-weight: var(--regular);
  line-height: utils.pxToRem(24);
  letter-spacing: utils.pxToRem(0.25);
}

.ui-body--sm {
  font-size: utils.pxToRem(14);
  font-weight: var(--regular);
  line-height: utils.pxToRem(20);
}

.ui-caption {
  font-size: utils.pxToRem(15);
  font-weight: var(--medium);
  line-height: utils.pxToRem(20);
}

.ui-caption--sm {
  font-size: utils.pxToRem(12);
  font-weight: var(--regular);
  line-height: utils.pxToRem(16);
  letter-spacing: utils.pxToRem(0.25);
}

.ui-eyebrow {
  font-size: utils.pxToRem(12);
  font-weight: var(--semibold);
  line-height: utils.pxToRem(16);
}

.ui-button {
  font-size: utils.pxToRem(18);
  font-weight: var(--semibold);
  line-height: utils.pxToRem(24);
  letter-spacing: utils.pxToRem(-1);
}

.ui-button--sm {
  font-size: utils.pxToRem(16);
  font-weight: var(--semibold);
  line-height: utils.pxToRem(20);
  letter-spacing: utils.pxToRem(-1);
}
