@use '../utilities/variables';
/*
with 1.154701 scale ratio and 16px root font size
name px rem
xs	11.99999539
sm	13.8564038
md	16
lg	18.47521216
xl	21.33334152
2xl	24.63362567
3xl	28.44446628
4xl	32.84484683
5xl	37.9259696
6xl	43.79314592
7xl	50.56797887
8xl	58.39088364
9xl	67.42399771
*/

@mixin typeSystem {
  --default-primary-font-family: 'Poppins', normal;
  --default-secondary-font-family: 'Poppins', normal;
  --default-tertiary-font-family: 'PP Fraktion Sans';
  --primary-font-family: var(--default-primary-font-family);
  --secondary-font-family: var(--default-secondary-font-family);
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 900;

  /* set base values */
  --text-scale-ratio: 1.154701;
  font-size: 16px;

  /* type scale */
  --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1rem / var(--text-scale-ratio));
  --text-md: calc(1rem);
  --text-lg: calc(1rem * var(--text-scale-ratio));
  --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-2xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-3xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-4xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-5xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-6xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-7xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-8xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-9xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
}

body {
  font-size: 1rem;
  font-family: var(--secondary-font-family), -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: var(--regular);
}

/* FONT FAMILIES */
code {
  font-family: var(--secondary-font-family), source-code-pro, Menlo, Monaco,
    Consolas, 'Courier New', monospace;
}

button {
  font-family: var(--secondary-font-family);
}

/* SIZES */
/* Helpers */
.text--6xl {
  font-size: var(--text-6xl);
}

.text--5xl {
  font-size: var(--text-5xl);
}

.text--4xl {
  font-size: var(--text-4xl);
}

.text--3xl {
  font-size: var(--text-3xl);
}

.text--2xl {
  font-size: var(--text-2xl);
}

.text--xl {
  font-size: var(--text-xl);
}

.text--lg {
  font-size: var(--text-lg);
}

.text--md {
  font-size: var(--text-md);
}

.text--sm {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

.weight--light {
  font-weight: var(--light);
}

.weight--regular {
  font-weight: var(--regular);
}

.weight--medium {
  font-weight: var(--medium);
}

.weight--semibold {
  font-weight: var(--semibold);
}

.weight--bold {
  font-weight: var(--bold);
}

.weight--extrabold {
  font-weight: var(--extrabold);
}

/* FONT WEIGHT */
/* Helpers */
.text--semibold {
  font-weight: var(--semibold);
}

.text--bold {
  font-weight: var(--bold);
}

.text--extrabold {
  font-weight: var(--extrabold);
}

/* Elements */
$h1FontSize: --text-8xl;
@mixin h1-mixin {
  font-family: var(--primary-font-family);
  font-size: var($h1FontSize);
  font-weight: var(--bold);
  line-height: 1.2;
  letter-spacing: 0%;
}
h1,
.h1 {
  @include h1-mixin();
}

$h2FontSize: --text-7xl;
@mixin h2-mixin {
  font-family: var(--primary-font-family);
  font-size: var($h2FontSize);
  font-weight: var(--bold);
  line-height: 1.2;
  letter-spacing: 0%;
}
h2,
.h2 {
  @include h2-mixin();
}

$h3FontSize: --text-6xl;
@mixin h3-mixin {
  font-family: var(--primary-font-family);
  font-size: var($h3FontSize);
  font-weight: var(--bold);
  line-height: 1.2;
  letter-spacing: 0%;
}
h3,
.h3 {
  @include h3-mixin();
}

$h4FontSize: --text-5xl;
@mixin h4-mixin {
  font-family: var(--primary-font-family);
  font-size: var($h4FontSize);
  font-weight: var(--bold);
  line-height: 1.2;
  letter-spacing: 0%;
}
h4,
.h4 {
  @include h4-mixin();
}

$h5FontSize: --text-4xl;
@mixin h5-mixin {
  font-family: var(--primary-font-family);
  font-size: var($h5FontSize);
  font-weight: var(--bold);
  line-height: 1.2;
  letter-spacing: 0%;
}
h5,
.h5 {
  @include h5-mixin();
}

$h6FontSize: --text-3xl;
@mixin h6-mixin {
  font-family: var(--primary-font-family);
  font-size: var($h6FontSize);
  font-weight: var(--bold);
  line-height: 1.5;
  letter-spacing: 0%;
}
h6,
.h6 {
  @include h6-mixin();
}

$menuFontSize: --text-md;
.menu {
  font-family: var(--primary-font-family);
  font-size: var($menuFontSize);
  font-weight: var(--regular);
  line-height: calc(var($menuFontSize) * 24 / 16);
  letter-spacing: 1%;
}

$titleFontSize: --text-xl;
@mixin title-mixin {
  font-family: var(--primary-font-family);
  font-size: var($titleFontSize);
  font-weight: var(--bold);
  line-height: 1.5;
  letter-spacing: 0%;
}
.title {
  @include title-mixin();
}

$titleSmFontSize: --text-xl;
.title-sm {
  font-family: var(--primary-font-family);
  font-size: var($titleSmFontSize);
  font-weight: var(--semibold);
  line-height: 1.5;
  letter-spacing: 0%;
}

$headerFontSize: --text-3xl;
.header {
  font-family: var(--primary-font-family);
  font-size: var($headerFontSize);
  font-weight: var(--bold);
  line-height: 1.5;
}

$captionFontSize: --text-sm;
.caption {
  font-family: var(--secondary-font-family);
  font-size: var($captionFontSize);
  font-weight: var(--regular);
  line-height: 1.5;
  letter-spacing: 0%;
}

$captionSmFontSize: --text-xs;
.caption-sm {
  font-family: var(--secondary-font-family);
  font-size: var($captionSmFontSize);
  font-weight: var(--regular);
  line-height: 1.5;
  letter-spacing: 0%;
}

$uppercaseFontSize: --text-sm;
.uppercase {
  font-family: var(--secondary-font-family);
  font-size: var($uppercaseFontSize);
  font-weight: var(--medium);
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
}

$eyebrowFontSize: --text-md;
.eyebrow {
  font-family: var(--secondary-font-family);
  font-size: var($eyebrowFontSize);
  font-weight: var(--semibold);
  line-height: 1.5;
  letter-spacing: 0%;
}

$eyebrowSmFontSize: --text-sm;
.eyebrow-sm {
  font-family: var(--secondary-font-family);
  font-size: var($eyebrowSmFontSize);
  font-weight: var(--semibold);
  line-height: 1.5;
  letter-spacing: 0%;
}

$bodyFontSize: --text-lg;
.body {
  font-family: var(--secondary-font-family);
  font-size: var($bodyFontSize);
  font-weight: var(--regular);
  line-height: 1.5;
  letter-spacing: 0%;
}

$bodySmFontSize: --text-md;
@mixin body-sm-mixin {
  font-family: var(--secondary-font-family);
  font-size: var($bodySmFontSize);
  font-weight: var(--regular);
  line-height: 1.5;
  letter-spacing: 0%;
}
.body-sm {
  @include body-sm-mixin();
}

$buttonLgFontSize: --text-lg;
.button-lg {
  font-family: var(--secondary-font-family);
  font-size: var($buttonLgFontSize);
  font-weight: var(--medium);
  line-height: 1.5;
  letter-spacing: 0%;
}

$buttonFontSize: --text-md;
.button {
  font-family: var(--secondary-font-family);
  font-size: var($buttonFontSize);
  font-weight: var(--medium);
  line-height: 1.5;
  letter-spacing: 0%;
}

$buttonSmFontSize: --text-sm;
.button-sm {
  font-family: var(--secondary-font-family);
  font-size: var($buttonSmFontSize);
  font-weight: var(--medium);
  line-height: 1.2;
  letter-spacing: 0%;
}

$menuItemFontSize: --text-sm;
.menu-item {
  font-size: var($menuItemFontSize);
  font-weight: var(--medium);
  line-height: var(--text-md);
  font-family: var(--default-secondary-font-family);
}
