@use '../utilities/variables';
/*
with 1.154701 scale ratio and 16px root font size
name px rem
xs	11.99999539
sm	13.8564038
md	16
lg	18.47521216
xl	21.33334152
2xl	24.63362567
3xl	28.44446628
4xl	32.84484683
5xl	37.9259696
6xl	43.79314592
7xl	50.56797887
8xl	58.39088364
9xl	67.42399771
*/

@mixin typeSystem {
  --default-primary-font-family: 'Rajdhani', normal;
  --default-secondary-font-family: 'Barlow', normal;
  --default-tertiary-font-family: 'PP Fraktion Sans';
  --primary-font-family: var(--default-primary-font-family);
  --secondary-font-family: var(--default-secondary-font-family);
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 900;

  /* set base values */
  --text-scale-ratio: 1.154701;
  font-size: 16px;

  /* type scale */
  --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1rem / var(--text-scale-ratio));
  --text-md: calc(1rem);
  --text-lg: calc(1rem * var(--text-scale-ratio));
  --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-2xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-3xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-4xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-5xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-6xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
}

body {
  font-size: 1rem;
  font-family: var(--secondary-font-family), -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: var(--regular);
}

/* FONT FAMILIES */
code {
  font-family: var(--secondary-font-family), source-code-pro, Menlo, Monaco,
    Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.menu {
  font-family: var(--primary-font-family);
}

.caption,
.caption-sm,
.eyebrow,
.body,
.body-sm,
button,
.button,
.button-sm {
  font-family: var(--secondary-font-family);
}

/* SIZES */
/* Helpers */
.text--6xl {
  font-size: var(--text-6xl);
}

.text--5xl {
  font-size: var(--text-5xl);
}

.text--4xl {
  font-size: var(--text-4xl);
}

.text--3xl {
  font-size: var(--text-3xl);
}

.text--2xl {
  font-size: var(--text-2xl);
}

.text--xl {
  font-size: var(--text-xl);
}

.text--lg {
  font-size: var(--text-xl);
}

.text--md {
  font-size: var(--text-xl);
}

.text--sm {
  font-size: var(--text-xl);
}

.text--xs {
  font-size: var(--text-xl);
}

/* Elements */
h1 {
  font-size: var(--text-6xl);
  font-weight: var(--semibold);
  line-height: calc(var(--text-6xl) * 64 / 56);
  letter-spacing: -1px;
}

h2 {
  font-size: var(--text-5xl);
  font-weight: var(--semibold);
  line-height: calc(var(--text-5xl) * 1.24);
  letter-spacing: -1px;
}

h3 {
  font-size: var(--text-4xl);
  font-weight: var(--semibold);
  line-height: calc(var(--text-4xl) * 1.2);
  letter-spacing: -1px;
}

h4 {
  font-size: var(--text-3xl);
  font-weight: var(--medium);
  line-height: calc(var(--text-3xl) * 1.24);
  letter-spacing: -0.5px;
}

h5 {
  font-size: var(--text-xl);
  font-weight: var(--bold);
  line-height: calc(var(--text-xl) * 1.24);
}

h6 {
  font-size: var(--text-lg);
  font-weight: var(--semibold);
  line-height: calc(var(--text-lg) * 1.32);
}

.menu {
  font-size: var(--text-md);
  font-weight: var(--semibold);
  line-height: var(--text-xl);
  letter-spacing: 1px;
}

.title {
  font-family: var(--primary-font-family);
  font-size: var(--text-2xl);
  font-weight: var(--semibold);
  line-height: calc(var(--text-2xl) * 32 / 24);
}

.title-sm {
  font-family: var(--primary-font-family);
  font-weight: var(--medium);
  font-size: var(--text-xl);
  line-height: calc(var(--text-xl) * 28 / 21);
}

.caption {
  font-size: var(--text-md);
  font-weight: var(--medium);
  line-height: calc(var(--text-md) * 18 / 15);
}

.caption-sm {
  font-size: var(--text-sm);
  font-weight: var(--regular);
  line-height: calc(var(--text-sm) * 20 / 14);
  letter-spacing: 0.25px;
}

.eyebrow {
  font-size: var(--text-sm);
  font-weight: var(--semibold);
  line-height: calc(var(--text-sm) * 24 / 14);
}

.body {
  font-size: var(--text-md);
  font-weight: var(--regular);
  line-height: calc(var(--text-md) * 24 / 16);
  letter-spacing: 0.25px;
}

.body-sm {
  font-size: var(--text-sm);
  font-weight: var(--regular);
  line-height: calc(var(--text-sm) * 20 / 14);
}

.button {
  font-size: var(--text-lg);
  font-weight: var(--semibold);
  line-height: calc(var(--text-lg) * 24 / 18);
}

.button-sm {
  font-size: var(--text-sm);
  font-weight: var(--bold);
  line-height: calc(var(--text-sm) * 20 / 14);
}

.menu-item {
  font-size: var(--text-sm);
  font-weight: var(--bold);
  line-height: var(--text-md);
  text-transform: uppercase;
  font-family: var(--default-tertiary-font-family);
}
