.searchBar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 100px;
  background: var(--color-neutral-900);
  border: solid 1px var(--color-stroke-01);
  z-index: 1;

  input {
    background: transparent;
    width: 100%;
    border: none;
    color: var(--color-neutral-100);
    font-size: var(--text-md);
    &::placeholder {
      color: var(--color-neutral-400);
    }

    &:focus-within {
      outline: none;
    }
  }

  .searchButton {
    padding: 0 var(--space-xs) 0 var(--space-md);
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .clearButton {
    transition: color 250ms;
    background: transparent;
    border: none;
    color: var(--text-secondary);
    display: flex;
    padding: 0px var(--space-sm-fixed) 0px 0px;
  }

  svg {
    height: var(--text-md);
    width: var(--text-md);
  }

  &:focus-within ul.autoComplete {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .searchBar {
    margin: 0;
    width: 100%;
  }
}

.popoverDropdown {
  border: 'none';
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-700);
  border-radius: var(--space-md);
  padding: var(--space-sm);
  color: var(--color-neutral-100);
  position: absolute;
}

.searchResult {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.hideDropdown {
  display: none;
}
