.searchResult {
  display: flex;
  gap: 16px;
}

.dropdown {
  background-color: var(--color-neutral-800) !important;
  max-height: 520px !important;
  border: 1px solid var(--color-stroke-weak) !important;
  border-radius: var(--space-sm) !important;
}

.container {
  background-color: var(--color-neutral-800) !important;
}
