.label {
  color: var(--color-neutral-300);
}

.menuDropdown > div > div > * {
  color: var(--color-neutral-400);
}

// cannot put this padding in .menuDropdown without breaking the dropdown = target width mantine calcs
// i.e. setting width="target" on Menu element
.menuDropdown > div:not(:first-child) {
  padding: var(--space-sm);
}

.menuDropdown *:hover:not(input[type='checkbox']) {
  opacity: 1;
}

.menuDropdown *[data-hovered='true'] {
  background-color: var(--color-neutral-600);
}

.menuDropdown *[data-hovered='true'] > div > div > *:first-child,
.menuDropdown *[data-hovered='true'] > div > * {
  color: var(--color-neutral-100);
}

.menuDropdown {
  background-color: transparent;
  color: var(--color-neutral-400);
  border: none;
  padding: 0px;
  border-radius: 0 0 var(--space-sm) var(--space-sm);
  position: absolute;
}

.menuDropdown > div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.menuDropdown > div > * {
  padding: var(--space-sm);
  border-radius: var(--space-sm);
  width: 100%;
  text-align: left;
}

.selected {
  color: var(--color-secondary-200);
}

.genericButton {
  text-align: left;
  border-top: 1px solid var(--color-stroke-weak);
}

.genericButton[aria-expanded='true'] {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
