.header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-md) var(--space-xl);
  background-color: var(--color-neutral-900);
  border-left: 2px solid var(--color-neutral-700);
  border-right: 2px solid var(--color-neutral-700);
  border-top: 2px solid var(--color-neutral-700);
  border-top-left-radius: var(--space-sm);
  border-top-right-radius: var(--space-sm);
  width: 100%;
}

.questTitle {
  color: var(--color-neutral-100);
  padding: 0;
  margin: 0;
}

.viewAllButton {
  margin: 0;
  padding: 0;
}

.questList {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md) var(--space-xl);
  border: 2px solid var(--color-neutral-700);
  border-bottom-left-radius: var(--space-sm);
  border-bottom-right-radius: var(--space-sm);
  background-color: var(--color-neutral-900);
}

.readyForClaim {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
  border: none;
}

.readyForClaimTitle {
  display: flex;
  color: var(--color-neutral-100);
  gap: var(--space-3xs);
}

.questIcon {
  width: var(--size-md);
  height: var(--size-md);
  fill: var(--color-neutral-400);
}

.card {
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  gap: var(--space-3xs);
  background-color: var(--color-neutral-800);
  border: 2px solid var(--color-neutral-700);
  border-radius: var(--space-sm);

  &:hover {
    background-color: var(--color-neutral-700);
    border: 2px solid var(--color-neutral-600);
  }
}

.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--space-lg);
}

.secondRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--space-lg);
}

.badges {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-md);
}

.badgesSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
}

.badgeIcon {
  margin-right: var(--space-xs);
  height: 14px;
  width: 14px;
  justify-self: center;
  align-self: center;
  path {
    fill: var(--color-tertiary-200);
  }
}

.days {
  justify-content: center;
  margin-top: var(--space-md);
}

.clockIcon {
  align-self: center;
  height: 20px;
  width: 20px;
}

.resetTime {
  display: flex;
  justify-content: center;
  align-self: center;
  color: var(--color-neutral-400);
}

.time {
  color: var(--color-neutral-100);
  margin-left: var(--space-2xs);
}

.lightningIcon {
  width: var(--size-md);
  height: var(--size-md);
}

.questType {
  display: flex;
  margin-top: var(--space-md);
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  color: var(--color-neutral-400);
}

.rewardType {
  margin-top: var(--space-md);
  color: var(--color-alert-200);
}

.activeQuests {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
  border: none;
}

.questIconTwo {
  width: var(--size-md);
  height: var(--size-md);
  fill: var(--color-alert-400);
}

.activeQuestsTitle {
  display: flex;
  color: var(--color-neutral-100);
  gap: var(--space-2xs);
}
