.GridContainer {
  max-width: 1182px; // max width from design (1126px) + 48px (padding) + 8px (border)
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  grid-gap: var(--space-md);
  padding: var(--space-2lg);
  border-radius: var(--space-md-fixed);
  border: 2px solid var(--color-neutral-600);
  background-color: var(--color-neutral-800);

  @media (max-width: 850px) {
    grid-template-columns: repeat(calc(var(--col-count) - 1), 1fr);
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(calc(var(--col-count) - 2), 1fr);
  }
}
