@use '../../styles/utilities/_variables';

.bannerContainer {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0px;
  left: 0;
  background-color: black;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include variables.for-mobile-only {
    padding: var(--text-2xl) var(--space-lg-fixed);
  }
  @include variables.for-tablet-portrait-up {
    padding: var(--text-2xl) var(--space-xl-fixed);
  }
  @include variables.for-tablet-landscape-up {
    padding: var(--text-2xl) var(--space-2xl-fixed);
  }
  @include variables.for-desktop-up {
    padding: var(--text-2xl) var(--text-4xl);
  }
}

.navbarLinkImg {
  height: 20px;
  width: 20px;
  margin: 0px 10px;
  @include variables.imageWrapper;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLogoImg {
  height: 24px;
  width: 24px;
  transform: translateY(2px);
  @include variables.imageWrapper;
}

.navItem {
  padding: 0px 20px;
}

.menu {
  align-items: center;
  display: flex;

  @include variables.for-mobile-only {
    display: none;
  }
  @include variables.for-tablet-portrait-up {
    display: none;
  }
  @include variables.for-tablet-landscape-up {
    display: flex;
  }
  @include variables.for-desktop-up {
    display: flex;
  }
}

.navbar a:hover {
  opacity: 50%;
}

.hpLogoText {
  font-family: 'Rotonto' var(--primary-font-family);
  font-size: var(--text-xl);
  padding-left: var(--space-2xs-fixed);
}

.navLogo {
  display: flex;
  flex-direction: row;
}

.navbarHpLogoImage {
  height: var(--text-xl);
}

.burgerMenu {
  height: 24px;
  width: 24px;
  @include variables.imageWrapper;
  background-color: transparent;

  @include variables.for-mobile-only {
    display: inline-block;
  }
  @include variables.for-tablet-portrait-up {
    display: inline-block;
  }
  @include variables.for-tablet-landscape-up {
    display: none;
  }
  @include variables.for-desktop-up {
    display: none;
  }
}

.burgerMenu:hover {
  opacity: 50%;
}

.navbarDropdown {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0%;
  left: 0%;
  top: 9%;
  z-index: 100;
  background-color: black;
  align-items: center;

  @include variables.for-mobile-only {
    display: flex;
  }
  @include variables.for-tablet-portrait-up {
    display: flex;
  }
  @include variables.for-tablet-landscape-up {
    display: none;
  }
  @include variables.for-desktop-up {
    display: none;
  }
}

.navbarDropdown a:hover {
  background-color: #0e0e0e;
  color: var(--grayscale-01-300);
}

.navbarDropdown a {
  padding: var(--space-3xs) 0px;
  width: 100%;
  text-align: center;
}
