@use '../../styles/utilities/_variables';

.bannerContainer {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0px;
  left: 0;
  background-color: var(--color-neutral-900);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include variables.for-mobile-only {
    padding: var(--text-2xl) var(--space-lg-fixed);
  }
  @include variables.for-tablet-portrait-up {
    padding: var(--text-2xl) var(--space-xl-fixed);
  }
  @include variables.for-tablet-landscape-up {
    padding: var(--text-2xl) var(--text-2xl);
  }
  @include variables.for-desktop-up {
    padding: var(--text-2xl) var(--text-4xl);
  }
}

.navbarLogoImg {
  height: 24px;
  width: 24px;
  transform: translateY(2px);
  @include variables.imageWrapper;
}

.menu {
  align-items: center;
  display: flex;
  gap: var(--space-2lg);

  @include variables.for-mobile-only {
    display: none;
  }
  @include variables.for-tablet-portrait-up {
    display: none;
  }
  @include variables.for-tablet-landscape-up {
    display: flex;
  }
  @include variables.for-desktop-up {
    display: flex;
  }

  .menuSocial {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navbar a:hover {
  opacity: 50%;
}

.hpLogoText {
  font-family: 'Rotonto' var(--primary-font-family);
  font-size: var(--text-xl);
  padding-left: var(--space-2xs-fixed);
}

.navLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarHpLogoImage {
  height: var(--text-xl);
}

.burgerMenu {
  height: 24px;
  width: 24px;
  @include variables.imageWrapper;
  background-color: transparent;

  svg {
    object-fit: contain;
    padding: 4px;
  }
}

.burgerMenu:hover {
  opacity: 50%;
}

.navbarDropdown {
  display: flex;
  flex-direction: column;
  z-index: 100;
  background: var(--color-neutral-900);
  align-items: center;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, max-height 0.3s ease-in,
    visibility 0.3s ease-in;
  padding: var(--space-2lg) 0;

  border-top: 1px solid var(--color-neutral-600);

  &.isMenuOpen {
    max-height: 800px;
    opacity: 1;
    visibility: visible;
  }

  @include variables.for-mobile-only {
    display: flex;
  }
  @include variables.for-tablet-portrait-up {
    display: flex;
  }
  @include variables.for-tablet-landscape-up {
    display: none;
  }
  @include variables.for-desktop-up {
    display: none;
  }
}

.dropdownContainer {
  align-items: center;
  justify-content: center;
  gap: var(--space-2lg);

  @include variables.for-mobile-only {
    display: flex;
  }

  @include variables.for-tablet-portrait-up {
    display: flex;
  }

  @include variables.for-tablet-landscape-up {
    display: none;
  }
  @include variables.for-desktop-up {
    display: none;
  }
}

.avatarDesktop {
  display: none;

  @include variables.for-mobile-only {
    display: none;
  }
  @include variables.for-tablet-portrait-up {
    display: none;
  }
  @include variables.for-tablet-landscape-up {
    display: flex;
  }
}

.links {
  display: none;

  @include variables.for-mobile-only {
    display: none;
  }
  @include variables.for-tablet-portrait-up {
    display: none;
  }

  @include variables.for-tablet-landscape-up {
    display: inline-block;

    a {
      font-size: var(--text-sm);
    }
  }

  @include variables.for-desktop-up {
    display: inline-block;

    a {
      font-size: var(--text-lg);
    }
  }
}
