.root {
  display: flex;
  flex-direction: column;
  padding: var(--space-xl) calc(var(--space-xl) * 1.25);
  gap: var(--space-2lg);
  border-radius: var(--space-md);
  background: var(--background-base);
  width: 100%;
  position: relative;
}

.headingIcon {
  display: flex;
  padding: calc(var(--space-xs) * 1.25);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.title {
  color: var(--text-strong);
}

.subtitle {
  color: var(--text-weak);
  margin-top: 0;
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0;
}
