.root {
  display: flex;
  flex-direction: column;
  padding: var(--space-xl) calc(var(--space-xl) * 1.25);
  gap: var(--space-2lg);
  border-radius: var(--space-md);
  background: var(--color-neutral-800);
  width: 100%;
  position: relative;
}

.headingIcon {
  display: flex;
  padding: calc(var(--space-xs) * 1.25);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.title {
  color: white;
  font-weight: var(--bold);
  letter-spacing: -0.16px;
}

.subtitle {
  color: var(--color-neutral-400);
  margin-top: 0;
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0;

  &:hover {
    opacity: 1;
  }
}
