@use '../../styles/designSystem/_typography.scss' as *;

$icon-container-size: 3rem; // 48px
$icon-padding: 0.75rem; // 12px
$border-left-width: 0.25rem; // 4px
$border-width: 1px;

.container {
  width: 100%;
  padding: var(--space-xl);
  display: flex;
  gap: var(--space-sm);
  border-radius: var(--space-xs); // 8px
  border: $border-width solid;
  position: relative;

  &.noBorderLeft {
    border-left-width: $border-width;
  }

  &:not(.noBorderLeft) {
    border-left-width: 4px;
  }

  .title {
    font-size: var($eyebrowFontSize);
    color: var(--text-strong);
  }

  .icon {
    display: flex;
    align-self: flex-start;
    padding: 0;

    svg {
      width: var(--space-2lg);
      height: var(--space-2lg);
    }
  }

  &.iconContainer {
    .icon {
      background: var(--fill-weak);
      border-radius: 50%;
      padding: var(--space-sm);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .message {
    color: var(--text-weak);
    font-size: var($bodySmFontSize);
  }

  .closeButton {
    position: absolute;
    top: var(--space-md);
    right: var(--space-md);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-lg);
    height: var(--space-lg);
    cursor: pointer;
    color: var(--icon-neutral);
    padding: 0;
    background: none;
    border: none;

    &:hover {
      color: var(--icon-secondary);
    }
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

// Warning variant
.warning {
  background: var(--fill-warning-weak);
  border-color: var(--color-stroke-warning-weak);

  &:not(.noBorderLeft) {
    border-left-color: var(--color-stroke-warning-strong);
  }

  .icon {
    svg {
      color: var(--icon-warning);
    }
  }
}

// Error variant
.error {
  background: var(--fill-error-weak);
  border-color: var(--color-stroke-error-weak);

  &:not(.noBorderLeft) {
    border-left-color: var(--color-stroke-error-strong);
  }

  .icon {
    svg {
      color: var(--icon-error);
      fill: none;
    }
  }
}

// Success variant
.success {
  background: var(--fill-success-weak);
  border-color: var(--color-stroke-success-weak);

  &:not(.noBorderLeft) {
    border-left-color: var(--color-stroke-success-strong);
  }

  .icon {
    svg {
      color: var(--icon-success);
    }
  }
}

// Information variant
.information {
  background: var(--fill-info-weak);
  border-color: var(--color-stroke-info-weak);

  &:not(.noBorderLeft) {
    border-left-color: var(--color-stroke-info-strong);
  }

  .icon {
    svg {
      color: var(--icon-info);
    }
  }
}

// Neutral variant
.neutral {
  background: var(--fill-weaker);
  border-color: var(--color-stroke-weak);

  &:not(.noBorderLeft) {
    border-left-color: var(--color-stroke-strong);
  }

  .icon {
    svg {
      color: var(--icon-secondary);
      fill: none;
    }
  }
}

// Brand variant
.brand {
  background: var(--fill-brand-weak);
  border-color: var(--color-stroke-brand-weak);

  &:not(.noBorderLeft) {
    border-left-color: var(--color-stroke-brand-strong);
  }

  .icon {
    svg {
      color: var(--icon-neutral);
    }
  }
}

// Small size
.small {
  padding: var(--space-md);
  .message {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// Layout
.horizontal {
  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--space-md);
  }
}

.vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  & .closeButton {
    display: flex;
    align-self: flex-end;
  }
}

.list {
  list-style-type: disc;
  margin-left: -10px;

  li {
    color: var(--text-weak);
    margin-bottom: var(--space-xs);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.link {
  button {
    margin-left: calc(var(--space-xl) * -1);
    padding-left: var(--space-xl);
    padding-top: var(--space-md);
  }
}

.buttonGroup {
  display: flex;
  gap: var(--space-xs);
  padding-top: var(--space-md);
}
