@use '../../styles/utilities/inputs';

.section {
  --_input-bd: var(--color-stroke-01);
}

.controls {
  height: 100%;
}

.control {
  color: var(--color-neutral-400);

  &[data-direction='up'] {
    border-top-right-radius: var(--space-xs);
  }

  &[data-direction='down'] {
    border-bottom-right-radius: var(--space-xs);
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
