// TODO: use shard styles of wrapper, input and sizes classes
// they're the same as in TextInput and Select

.root {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  background: var(--color-neutral-700);
  border-radius: var(--space-xs);
  border: 1px solid var(--color-stroke-01);
  box-shadow: var(----box-shadow-01);
  align-items: center;
  outline: none;

  &[data-error='true'] {
    border: 1px solid var(--color-error-400);
  }

  &:not([data-error='true']):has(*:focus-visible) {
    border: 1px solid var(--color-primary-400);
  }
}

.large {
  padding: var(--space-sm) var(--space-md);
}

.medium {
  padding: var(--space-3xs) var(--space-md);
}

.small {
  padding: var(--space-3xs) var(--space-sm);
}

.input {
  font-size: inherit;
  height: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-neutral-100);
  line-height: var(--text-4xl);
  font-family: var(--default-secondary-font-family);

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.label {
  color: var(--color-neutral-400);
  margin-bottom: var(--space-2xs);
}

.section {
  --_input-bd: var(--color-stroke-01)
}

.controls {
  height: 100%;
}


.control {
  color: var(--color-neutral-400);

  &[data-direction='up'] {
    border-top-right-radius: var(--space-xs);
  }

  &[data-direction='down'] {
    border-bottom-right-radius: var(--space-xs);
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
