@import '../../styles/utilities/_variables.scss';

.root {
  padding: 0px;

  @include for-desktop-up {
    padding: 0px var(--space-4xl);
  }
}

.titleSection {
  padding-bottom: var(--space-4xl);
  border-bottom: 1px solid var(--ui-color-neutral-600);
}

.title {
  margin: 0;
}

.storeIcon {
  margin-bottom: var(--space-xs);
}

.infoSection {
  padding-top: var(--space-4xl);
}

.info {
  padding-top: var(--space-4xl);
}

.infoItem {
  padding: var(--space-lg) 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #252832;
}

.infoTitle {
  font-weight: 500;
  color: var(--ui-color-neutral-400);
}

.infoValue {
  font-weight: 500;
}

.platformInfo {
  display: flex;
  gap: var(--space-xs);
}

.action {
  padding-bottom: var(--space-4xl);
  width: 100%;
}
