.spinning{
    animation: refreshing 1.5s infinite;
  }
  
  @keyframes refreshing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loadingSpinnerContainer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-md);
  }