$border: 2px var(--color-neutral-600) solid;

.selected {
  background-color: var(--color-neutral-800);
}

.body {
  border: $border;
  border-top: 0px;
}

.image {
  border: $border;
  border-bottom: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-xs);
  align-self: stretch;
}

.selected {
  background-color: var(--color-neutral-800);
}

.title {
  margin-bottom: var(--space-sm);
  color: var(--color-neutral-400);
}

.description {
  color: var(--color-neutral-100);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subtitle {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--color-neutral-400);
}

.questsDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--space-md);
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.questCurrency {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-end;
  gap: 12px;
  flex: 1 0 0;
}

.amount {
  font-size: var(--font-size-sm);
  color: var(--color-success-100);
  font-weight: var(--semibold);
}

.questName {
  color: var(--color-neutral-100);
  font-weight: var(--medium);
  font-size: var(--text-lg);
  font-weight: var(--semibold);
}

.currencyName {
  color: var(--color-neutral-300);
  font-size: var(--text-md);
}

.questType {
  color: var(--color-primary-900);
}

.avatarWithName {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  display: flex;
  width: var(--space-xl);
  height: var(--space-xl);
  justify-content: flex-start;
  align-items: center;
  border-radius: 999px;
}
