$border: 2px var(--color-neutral-600) solid;

.selected {
  background-color: var(--color-neutral-800);
}

.body {
  border: $border;
  border-top: 0px;
}

.image {
  border: $border;
  border-bottom: 0px;
  max-height: 156.75px;
  object-fit: cover;
}

.content {
  display: flex;
  max-height: 6.25rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  gap: var(--space-2xs);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  gap: var(--space-2xs);
}

.selected {
  background-color: var(--color-neutral-800);
}

.title {
  margin-bottom: var(--space-sm);
  color: var(--text-weak);
}

.description {
  color: var(--text-strong);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 1.5em;
  line-height: 1.5;
  width: 100%;
}

.subtitle {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--text-weak);
}

.questsDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  gap: var(--space-md);
  align-items: center;
  justify-content: space-between;
}

.avatarWithName {
  display: flex;
  flex-direction: row;
  gap: var(--space-2xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: var(--space-xs);
  width: 225px;
}

.questCurrency {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-xs);
  flex: 1 0 0;
}

.amount {
  color: var(--text-success);
  font-weight: var(--semibold);
  padding-top: var(--space-md);
}

.questName {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  align-self: flex-start;
  width: 100%;
  display: -webkit-box;
}

.currencyName {
  color: var(--text-weak);
  padding-top: var(--space-3xs);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 8.75rem;

  .avatarWithName:only-child & {
    max-width: 210px;
  }
}

.questType {
  color: var(--color-primary-900);
}

.avatar {
  display: flex;
  width: var(--space-xl);
  height: var(--space-xl);
  justify-content: flex-start;
  align-items: center;
  border-radius: 999px;
}

.oddSizedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.tooltip {
  max-width: 305px;
  white-space: normal;
  overflow-wrap: break-word;
  border-radius: var(--space-sm-fixed);
  padding: var(--space-lg-fixed);
  background-color: var(--background-overlay);
  box-shadow: 0px 8px 8px -4px rgba(124, 58, 237, 0.04),
    0px 20px 24px -4px rgba(124, 58, 237, 0.08);
  color: var(--text-strong);
  display: none;

  &.show {
    display: block;
  }
}
