@use '../../styles/utilities/_variables';
@use '../../styles/designSystem/typography';

.controllerAttached {
  display: none;
  right: var(--space-xl-fixed);
  bottom: var(--space-xl-fixed);
  position: absolute;

  @include variables.for-tablet-landscape-up {
    display: block;
  }
}

.controllerDetached {
  display: none;
  margin-top: var(--space-xl);

  @include variables.for-tablet-landscape-up {
    display: block;
  }
}

@mixin title-mobile {
  left: var(--space-sm-fixed);
  right: var(--space-sm-fixed);
}

.title {
  position: absolute;
  bottom: var(--space-xl-fixed);
  z-index: 2;

  @include variables.for-mobile-only {
    @include title-mobile();
  }

  @include variables.for-tablet-portrait-up {
    @include title-mobile();
  }

  @include variables.for-tablet-landscape-up {
    left: var(--space-xl-fixed);
    right: var(--space-xl-fixed);
  }

  > .titleText {
    @include variables.for-mobile-only {
      @include typography.h5-mixin();
    }

    @include variables.for-tablet-portrait-up {
      @include typography.h3-mixin();
    }

    @include variables.for-tablet-landscape-up {
      @include typography.h1-mixin();
    }
  }
}

.slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carouselWrapper {
  display: inline-block;
  position: relative;
}

.indicators {
  @include variables.for-tablet-landscape-up {
    display: none;
  }
}
