.GridContainer {
  max-width: 1182px; // max width from design (1126px) + 48px (padding) + 8px (border)
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  grid-gap: var(--space-md);
  padding: 0;
  margin: 0;
  overflow-x: auto;

  @media (max-width: 850px) {
    grid-template-columns: repeat(calc(var(--col-count) - 1), 1fr);
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(calc(var(--col-count) - 2), 1fr);
  }
}
