@import '../../styles/designSystem/spacing';
@import '../../styles/designSystem/colors';

.content {
  border-radius: var(--space-md-fixed);
  background: var(--color-neutral-800);
  overflow-y: visible;
}

.body {
  display: flex;
  flex-direction: column;
  padding: var(--space-xl-fixed) calc(var(--space-xl-fixed) * 1.25);
  gap: calc(var(--space-lg) * 1.2);
}

.closeButton {
  position: absolute;
  padding: 0;
  top: calc(var(--space-md-fixed) * -1);
  right: calc(var(--space-md-fixed) * -1);

  &:hover {
    opacity: 1;
  }
}
