$successColor: var(--color-success-500);
$border: 6px solid;

.questIconContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-800);
  border-radius: 10000px;
  border: $border var(--color-neutral-600);
  svg {
    fill: var(--color-alert-200);
  }

  &.completed {
    border: $border $successColor;
    svg {
      fill: $successColor;
    }
  }
}
