@import '@hyperplay/ui/utilities/_variables.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0px var(--space-lg);

  @include for-tablet-portrait-up {
    padding: 0px var(--space-5xl);
  }

  @include for-desktop-up {
    padding: 0px
      calc((2 * var(--space-5xl-fixed)) + (2 * 1px) + var(--space-2xs-fixed));
  }
}

.content {
  max-width: 1280px;
  width: 100%;
}
