@use 'sass:math';
@import '../../styles/utilities/_variables';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: max-content;
  margin: 0 auto;
  gap: 84px;

  @include for-mobile-only {
    width: auto;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;

  @include for-desktop-up {
    width: auto;
  }

  a,
  select {
    cursor: pointer;
    &:hover {
      opacity: 60%;
    }
  }
}

.footer__column {
  display: flex;
  min-width: 7rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);
  text-transform: uppercase;

  @include for-desktop-up {
    min-width: 8.75rem;
  }
}

.footer__title {
  color: var(--color-neutral-400);
  font-size: var(--text-xs);
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: var(--semibold);
  line-height: calc(var(--text-xs) * 16 / 12);
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  align-self: stretch;

  @include for-tablet-portrait-up {
    gap: var(--space-xs);
  }
}

.footer__link {
  font-weight: bold;
  color: var(--color-neutral-100);
  font-family: var(--secondary-font-family);
  font-size: var(--text-md);
  font-style: normal;
  font-weight: var(--medium);
  line-height: calc(var(--text-md) * 24 / 16);
  text-transform: uppercase;
  min-height: 36px;

  @include for-desktop-up {
    font-size: var(--text-xs);
    line-height: calc(var(--text-xs) * 16 / 12);
    min-height: auto;
  }
}

.hpContact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-neutral-100);
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-size: var(--text-md);
  font-weight: var(--bold);
  line-height: calc(var(--text-md) * 24 / 16);
  text-align: left;
  width: 100%;

  @include for-desktop-up {
    font-size: var(--text-xs);
    line-height: calc(var(--text-xs) * 16 / 12);
    text-align: center;
    width: auto;
  }
}

@media screen and (max-width: #{$tabletLandscapeBreakpoint}) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}
