.root {
  margin-bottom: var(--space-2xs);
}

.input {
  background-color: transparent;
  &:checked {
    background-color: var(--fill-selected);
  }
}

.icon {
  display: none;
}

.body {
  display: flex;
  flex-direction: row;
}
