.tokenContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  justify-content: stretch;

  > * {
    flex-grow: 1;
  }
}

.root {
  display: flex;
  gap: var(--space-2lg);
}

.inputs {
  flex: 1;
  gap: var(--space-md);
  display: flex;
  flex-direction: column;
}
