@import "../../styles/designSystem/spacing";
@import "../../styles/designSystem/colors";

.title {
  color: white;
  font-weight: var(--bold);
}

.subtitle {
  color: var(--color-neutral-400);
}

.emailRoundedIcon {
  display: flex;
  padding: calc(var(--space-xs) * 1.25);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--space-xs) * 1.25);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--color-status-success);
}

.icon {
  fill: var(--color-neutral-900);
}

.button {
  width: 100%;
  max-width: 218px;
  margin: auto;
}
