$containerPadding: var(--space-2lg-fixed);
.darkContainer {
  padding: $containerPadding;
  max-width: 400px;
  height: 100%;
  margin: var(--space-xl) var(--space-xs);
}

.questItemsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  // this padding ensures that the gradient border for a selected item has a consistent border thickness
  padding: 2px 2px;
}

.sectionTitle {
  margin-bottom: var(--space-md);
  margin-top: var(--space-xl);
  color: var(--color-neutral-400);
}

.tabsList {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--space-xl);
}

.counter {
  display: inline;
  background-color: var(--color-primary-500);
  padding: 2px var(--space-xs) 2px var(--space-xs);
  color: var(--color-neutral-100);
  border-radius: var(--space-3xs);
  margin-left: var(--space-sm);
}

.loader {
  padding-top: var(--space-lg-fixed);
}

.pointsClaimedContainer {
  border-top: 1px solid var(--color-neutral-600);
  max-height: 300px;
  overflow-y: auto;

  margin: var(--space-md) calc(-1 * $containerPadding) 0px
    calc(-1 * $containerPadding);
  padding: var(--space-md) $containerPadding 0px $containerPadding;
}

.pointsClaimedTitle {
  margin-bottom: var(--space-md);
}

.pointsBalanceContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm-fixed);
}
