@use '../../../../styles/utilities/_variables';

.mobileMenu {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
  background: var(--color-neutral-900);
  box-shadow: 0px var(--space-sm) var(--space-md) -var(--space-3xs) rgba(16, 24, 40, 0.08),
    0px var(--space-3xs) var(--space-2xs) -2px rgba(16, 24, 40, 0.03);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, max-height 0.3s ease-in,
    visibility 0.3s ease-in;

  &.isMenuOpen {
    max-height: 800px;
    opacity: 1;
    visibility: visible;
  }

  @include variables.for-desktop-up {
    display: none;
  }
}

.mobileMenuLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-2lg) 0;
  border-top: 1px solid var(--color-neutral-600);
  border-bottom: 1px solid var(--color-neutral-600);
}

.mobileMenuLink {
  display: flex;
  padding: var(--space-sm) var(--space-2lg);
  align-items: flex-start;
  gap: var(--space-md);
  align-self: stretch;
  color: var(--color-neutral-100);
  font-size: var(--text-md);
  font-style: normal;
  line-height: calc(var(--text-md) * 24 / 16);
  font-weight: var(--medium);
  font-family: var(--secondary-font-family);
  cursor: pointer;

  &:focus,
  &:active {
    color: var(--color-primary-200);
  }
}

.mobileMenuButtonsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: var(--space-2lg) var(--space-md);
  gap: var(--space-xs);
  align-self: stretch;
}