.gameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: var(--space-md) var(--space-md-fixed);
  width: 100%;
  overflow: hidden;

  &:hover {
    background-color: var(--color-neutral-600);
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
