.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  backdrop-filter: blur(5px);
  opacity: 0;

  &.open {
    background-color: rgba(19, 20, 26, 0.1);
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;

  &.disabled {
    display: none;
  }
}

.modal {
  z-index: 1;
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}
.modalOpen {
  transform: translateY(0px);
}
