.searchLabel {
  display: flex;
  flex-direction: row;
  gap: var(--space-2xs);
}

.selectDetails {
  font-style: italic;
  color: var(--color-neutral-500);
}

.menuDropdown {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-400);
  border: none;
  padding: 0px;
  border-radius: var(--space-sm);
  position: absolute;
  box-sizing: border-box;

  > *:nth-child(2){
    border-radius: var(--space-sm) var(--space-sm) 0 0;
  }

  > *:last-child {
    border-radius: 0 0 var(--space-sm) var(--space-sm);
  }
}

.underline {
  border-bottom: 2px solid var(--color-neutral-600);
}
