.root {
  max-width: 600px;
  gap: var(--space-2lg);
}

.iconContainer {
  background: var(--fill-brand-strong);
  border-radius: 50%;
}

.icon {
  fill: var(--icon-strong);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2lg);
}

.body {
  color: var(--text-weak) !important;
}

.formActions {
  display: flex;
  gap: var(--space-md);
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--space-xs);
}

.loadingButton {
  min-width: 100px;
  font-size: var(--text-xs);
}
