@use '../../styles/utilities/dynamicUnderline';

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumb {
  @include dynamicUnderline.DynamicUnderline;
  color: var(--color-neutral-500);
  cursor: pointer !important;

  &:last-of-type {
    color: var(--color-neutral-300);
  }
}

.separator {
  color: var(--color-neutral-500);
}

.home {
  @include dynamicUnderline.DynamicUnderline;
  color: var(--color-neutral-400);
  height: 100%;
}
