$switchHeight: 24px;
$switchPadding: 2px;
$borderThickness: 0.2px;
$switchWidth: 48px + 2 * $borderThickness;
$thumbDiameter: $switchHeight - (2 * $switchPadding);
$lengthToTranslate: ($switchWidth - 2 * $borderThickness) -
  ($thumbDiameter + 2 * $switchPadding + 2 * $borderThickness);
$switchHeightWithBorder: $switchHeight + 2 * $borderThickness;

/* The switch - the box around the slider */
.switch {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: var(--space-2xs);

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &:hover {
    input:checked + .slider {
      background-color: var(--fill-selected);
      border: $borderThickness solid var(--fill-selected);
    }
    input:not(:checked) + .slider {
      background-color: var(--background-overlay);
      border: $borderThickness solid var(--color-stroke-weak);
    }
    input:not(:checked) + .slider:before {
      background-color: var(--background-overlay);
    }
    input:disabled:checked + .slider {
      background-color: var(--fill-inverse-strong);
      border: $borderThickness solid var(--color-stroke-weak);
    }
    input:not(:checked):disabled + .slider {
      background-color: var(--color-neutral-800);
      border: $borderThickness solid var(--color-stroke-01);
    }
    input:not(:checked) + .slider:before {
      background-color: var(--background-overlay);
    }
    input:not(:checked):disabled + .slider:before {
      background-color: var(--background-overlay);
    }
  }

  &:has(input:disabled) {
    cursor: default;
  }

  input:checked + .slider {
    background-color: var(--fill-selected);
    border: $borderThickness solid var(--fill-selected);
  }
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-neutral-800);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: $borderThickness solid var(--color-stroke-01);

  &:before {
    position: absolute;
    content: '';
    height: calc($thumbDiameter);
    width: calc($thumbDiameter);
    left: $switchPadding;
    bottom: $switchPadding;
    background-color: var(--background-overlay);
    border: 1px solid var(--color-stroke-strong);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  /* Rounded sliders */
  &.round {
    border-radius: 34px;
  }

  &.round:before {
    border-radius: 50%;
  }
}

input.inputCheckbox:disabled:checked + .slider {
  opacity: 0.5;
}

input.inputCheckbox:checked + .slider:before {
  background-color: var(--background-overlay);
}

input.inputCheckbox:checked + .slider:before {
  -webkit-transform: translateX($lengthToTranslate);
  -ms-transform: translateX($lengthToTranslate);
  transform: translateX($lengthToTranslate);
}

.switchContainer {
  width: 48px;
  height: var(--space-2lg);
  position: relative;
}
