$switchHeight: 28px;
$switchPadding: 3px;
$borderThickness: 1px;
$switchWidth: 60px + 2 * $borderThickness;
$thumbDiameter: $switchHeight - (2 * $switchPadding);
$lengthToTranslate: ($switchWidth - 2 * $borderThickness) -
  ($thumbDiameter + 2 * $switchPadding + 2 * $borderThickness);
$switchHeightWithBorder: $switchHeight + 2 * $borderThickness;

/* The switch - the box around the slider */
.switch {
  display: flex;
  align-items: center;
  height: $switchHeightWithBorder;
  cursor: pointer;
  gap: var(--space-xs);

  .switchContainer {
    width: 60px;
    position: relative;

    & > span {
      width: 60px;
      height: 28px;
    }

    & > span::before {
      width: var(--space-lg);
      height: var(--space-lg);
    }
  }

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &:hover {
    input:checked + .slider {
      background-color: var(--color-primary-400);
      border: $borderThickness solid var(--color-primary-400);
    }
    input:not(:checked) + .slider {
      background-color: var(--color-neutral-700);
      border: $borderThickness solid var(--color-neutral-500);
    }
    input:not(:checked) + .slider:before {
      background-color: var(--color-primary-400);
    }
    input:disabled:checked + .slider {
      background-color: var(--color-primary-500);
      border: $borderThickness solid var(--color-primary-500);
    }
    input:not(:checked):disabled + .slider {
      background-color: var(--color-neutral-800);
      border: $borderThickness solid var(--color-stroke-01);
    }
    input:not(:checked) + .slider:before {
      background-color: var(--color-primary-400);
    }
    input:not(:checked):disabled + .slider:before {
      background-color: var(--color-primary-500);
    }
  }

  &:has(input:disabled) {
    cursor: default;
  }

  input:checked + .slider {
    background-color: var(--color-primary-500);
    border: $borderThickness solid var(--color-primary-500);
  }
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-neutral-800);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: $borderThickness solid var(--color-stroke-01);

  &:before {
    position: absolute;
    content: '';
    height: calc($thumbDiameter);
    width: calc($thumbDiameter);
    left: $switchPadding;
    bottom: $switchPadding;
    background-color: var(--color-primary-500);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  /* Rounded sliders */
  &.round {
    border-radius: 34px;
  }

  &.round:before {
    border-radius: 50%;
  }
}

input.inputCheckbox:disabled:checked + .slider {
  opacity: 0.5;
}

input.inputCheckbox:checked + .slider:before {
  background-color: var(--color-neutral-100);
}

input.inputCheckbox:checked + .slider:before {
  -webkit-transform: translateX($lengthToTranslate);
  -ms-transform: translateX($lengthToTranslate);
  transform: translateX($lengthToTranslate);
}
