@use './styles/designSystem/typography';
@use './styles/designSystem/spacing';
@use './styles/designSystem/colors';
@use './styles/designSystem/effects';

:root {
  @include typography.uiTypography;
  @include spacing.uiSpacing;
  @include colors.uiColors;

  overflow-y: overlay;
  /* Effects */
  --blur-light: 4px;
  --blur-strong: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
