@use './styles/designSystem/typography';
@use './styles/designSystem/spacing';
@use './styles/designSystem/colors';
@use './styles/designSystem/buttons';
@use './styles/utilities/variables';
@use './styles/utilities/gradientBorder';

:root {
  @include typography.typeSystem;
  @include spacing.spacingSystem;
  @include colors.colorSystem;

  overflow-y: overlay;
  /* Effects */
  --blur-light: 4px;
  --blur-strong: 16px;

  --nav-bar-height: 92.6px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

  // Mantine Overrides
  --mantine-color-error: var(--color-error-400);
}

.circle {
  border-radius: 50%;
  background-color: var(--color-neutral-400);
  width: 4px;
  height: 4px;
}
