@use '../../styles/utilities/_variables' as *;

.horizontalCard {
  display: flex;
  align-items: center;
  padding: var(--space-md);
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  min-width: 21.25rem;
}

.brand {
  position: relative;
  border-radius: var(--space-xs);
  border: 1.5px solid var(--color-stroke-brand-weak);
  background: linear-gradient(
    rgba(163, 26, 227, 0.16) 0%,
    rgba(28, 108, 183, 0.16) 100%
  );
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1.5px;
    background: linear-gradient(180deg, #1c6cb7 0%, #a31ae3 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: add;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 1;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover {
    border-color: transparent;
  }
}

.neutral {
  position: relative;
  border-radius: var(--space-xs);
  background-color: var(--background-base);
  border: 1.5px solid var(--color-stroke-weak);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, #1c6cb7 0%, #a31ae3 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: add;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 1;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover {
    border-color: transparent;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--space-md);
  gap: var(--space-md);
  min-width: 0;
  overflow: hidden;
}

.content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  flex-shrink: 1;
  min-width: 0;
}

.children {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  & > button {
    pointer-events: auto;
    position: relative;
    z-index: 2;
  }
}

.large {
  width: 100%;
  min-width: 17.75rem;

  img {
    max-width: 120px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--space-xs);
  }
}

.small {
  width: 100%;
  padding: var(--space-xs);

  .content {
    gap: var(--space-2xs);

    .title {
      font-size: var(--text-lg);
    }
  }

  img {
    max-width: 60px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--space-xs);
  }
}

.gameImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: fit-content;
}

.orderNumber {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

.brand .orderNumber {
  color: var(--text-brand);
}
.neutral .orderNumber {
  color: var(--text-weak);
}

.small .orderNumber {
  align-items: center;
  align-self: center;
}

.noHover {
  &.brand:hover::before,
  &.neutral:hover::before {
    opacity: 0;
  }

  &.brand:hover {
    border-color: var(--color-stroke-brand-weak);
  }

  &.neutral:hover {
    border-color: var(--color-stroke-weak);
  }
}
