.txnPending {
  display: inline-flex;
  flex-direction: row;
  background-color: var(--color-neutral-700);
  padding: var(--space-2lg-fixed) var(--space-xl-fixed);
  border-radius: var(--space-xs);
  gap: var(--space-lg);
  max-width: 484px;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.txnTitle {
  margin-bottom: var(--space-2xs);
}

.imageContainer {
  width: 80px;
  max-width: 80px;
  max-height: 80px;
}

.closeButtonContainer {
  width: 24px;
  cursor: pointer;
  margin-left: auto;
}
