$imgSize: 160px;
.rewardContainer {
  max-width: $imgSize;
  max-height: $imgSize;
  width: $imgSize;
  height: $imgSize;
  border-radius: var(--space-xs);
  position: relative;
  margin-bottom: var(--space-md);

  > img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    border-radius: var(--space-xs);
    width: 100%;
    height: 100%;
  }

  > .titleContainer {
    background: linear-gradient(
      180deg,
      rgba(12, 11, 15, 0.3) 0%,
      var(--color-neutral-900) 100%
    );
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: var(--space-sm) 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-sm);
    flex-direction: column;
  }
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 100%;
}

.numToClaim {
  text-wrap: nowrap;
}

.claimsLeft {
  color: var(--color-neutral-400);
  text-align: center;
}
