.removeButton {
  background: transparent;
  border-color: transparent;
}

.base {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: stretch;
  padding: var(--space-md);
  border: 1px solid var(--color-neutral-700);
  border-radius: var(--space-md);
}

.tokenContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  justify-content: stretch;

  > * {
    flex-grow: 1;
  }
}

.addTokenIdButtonContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 0;
}

.labelHint {
  font-style: italic;
  color: var(--color-neutral-400);
  font-family: var(--secondary-font-family);
  font-size: var(--text-sm);
  line-height: var(--space-md);
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearButton {
  padding: 0 !important;
}

.addManuallyStatement {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  align-self: stretch;
  flex-direction: row;
}

.line {
  background: var(--color-neutral-700);
  height: 1px;
  width: 50%;
}

.label {
  color: var(--color-neutral-100);
}

.addManuallyStatementText {
  white-space: nowrap;
  color: var(--color-neutral-400);
  font-family: var(--secondary-font-family);
  font-size: var(--text-md);
  line-height: var(--space-2lg);
}

.title {
  font-family: var(--secondary-font-family);
  font-size: var(--text-lg);
  font-weight: var(--semibold);
  color: var(--color-neutral-100);
}

.error {
  color: var(--color-error-400);
}
