@import '../../styles/utilities/_variables';

.rewardsSection {
  background-color: transparent;
  width: 100vw;

  h6 {
    font-size: var(--text-xl);
  }

  @include for-tablet-portrait-up {
    max-width: 945px;
  }

  @include for-desktop-up {
    width: 100%;
    max-width: 1156px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-lg);
}

.navigationIcons {
  display: flex;
  gap: var(--space-xs);

  @include for-mobile-only {
    display: none;
  }
}

.embla {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
  gap: var(--space-2lg);
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  will-change: transform;
  margin-left: var(--space-3xs);

  @include for-mobile-only {
    flex-wrap: nowrap;
  }
}

.emblaSlide {
  flex: 0 0 auto;
  min-width: 0;
  position: relative;
}
