.svgPattern {
  position: absolute;
}

.mask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: radial-gradient(
    41.71% 53.31% at 55.47% 56.27%,
    rgba(12, 11, 15, 0) 0%,
    var(--app-background) 100%
  );
  overflow: hidden;
}

.svgContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden;
}
